Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

feat(doctor): the five failures stop looking exactly like the thirteen passes
  src/ai_engineering/doctor.py
  src/ai_engineering/ui.py
Due: none

feat(init): the picker, and spec 005's refusal of it reversed in the open
  src/ai_engineering/init.py
  tests/test_install.py
  tests/test_mut_init.py
Due: none

feat(cli): one drawing of the product's face, and a help screen with a colour in it
  src/ai_engineering/cli.py
  src/ai_engineering/init.py
  src/ai_engineering/ui.py
  tests/test_mut_init.py
  tests/test_record.py
Due: none

test(ui): the renderer gets tests that would notice its colours changing
  tests/test_ui.py
Due: none

chore: close spec 006 at the count that landed
  specs/006-the-cli-that-was-better/plan.md
  src/ai_engineering/contract.py
Due: prettier

refactor(ui): soft_wrap is a property of the console, not an argument at twelve prints
  src/ai_engineering/ui.py
  tests/test_ui.py
Due: none

refactor(spec): the work item is recorded, and the problem is the author's to write
  .agents/skills/ai-spec/SKILL.md
  src/ai_engineering/spec.py
  tests/test_mut_spec.py
  tests/test_record.py
Due: prettier

feat(accept)!: an acceptance cannot be written without a name and a reason
  CHANGELOG.md
  src/ai_engineering/accept.py
  tests/test_mut_accept.py
  tests/test_record.py
Due: prettier

fix(accept): a renewal retires the block it renews
  src/ai_engineering/accept.py
  tests/test_record.py
Due: none

refactor(hooks): three lines that never ran
  hooks/_wrap.py
  hooks/loop_guard.py
Due: none

fix(chain): the dispatcher adopts the session the surface already sent
  hooks/_wrap.py
  hooks/chain.py
  tests/test_hooks.py
Due: none

fix(hooks): the repeat arm counts calls, and the failure map has a bound
  hooks/loop_guard.py
  tests/test_hooks.py
Due: none

feat(cli): spec 007's lane, landed as it was found, and named rather than absorbed
  .github/workflows/check.yml
  .gitignore
  NOTICE
  docs/adr/0002-diagnostics-never-repair-a-check-names-the-command-that-fixe.md
  docs/adr/0003-a-diagnostic-may-run-the-consented-verb-that-cures-what-it-f.md
  docs/tools.md
  hooks/design_gate.py
  justfile
  specs/003-guards-that-never-fired/plan.md
  specs/003-guards-that-never-fired/spec.md
  specs/007-the-install-a-stranger-can-follow/plan.md
  specs/007-the-install-a-stranger-can-follow/spec.md
  src/ai_engineering/contract.py
  src/ai_engineering/doctor.py
  src/ai_engineering/init.py
  src/ai_engineering/skeletons.py
  src/ai_engineering/ui.py
  surfaces/opencode.ts
  tests/adversarial/run.py
  tests/test_doctor.py
  tests/test_install.py
  tests/test_mut_init.py
  tests/test_mut_wiring.py
  tests/test_ui.py
Due: eslint, prettier

chore: raise the line ceiling to 15,100 for specs 002 and 003, with the arithmetic
  specs/002-quality-ecosystem-3-0/plan.md
  specs/002-quality-ecosystem-3-0/spec.md
  src/ai_engineering/contract.py
Due: prettier

fix(doctor): assertion 6 declines to answer instead of passing on an absent chain
  src/ai_engineering/doctor.py
  tests/test_doctor.py
Due: none

feat(doctor): a ticked production-ready box must name a command
  .agents/skills/ai-ship/SKILL.md
  specs/001-v1-from-scratch/spec.md
  src/ai_engineering/doctor.py
  tests/test_doctor.py
Due: prettier

feat(doctor): a shipped spec may not carry a marker nobody replaced
  src/ai_engineering/doctor.py
  tests/test_doctor.py
Due: none

refactor(doctor): the line ceiling stops being asserted twice in one job
  src/ai_engineering/doctor.py
  tests/test_doctor.py
  tests/test_mut_record.py
Due: none

refactor(wiring): a helper that ignored its only argument, inlined
  src/ai_engineering/init.py
  src/ai_engineering/wiring.py
Due: none

fix(hooks): self-protection derives its list, and judges one shell command at a time
  hooks/self_protect.py
  policy/surfaces.toml
  tests/test_hooks.py
Due: none

fix(hooks): the hooks path is judged by the value it would be left at
  hooks/no_verify_guard.py
  tests/test_hooks.py
Due: none

fix(wiring)!: an entry is ours by the dispatcher it runs, not by this project's name
  CHANGELOG.md
  src/ai_engineering/doctor.py
  src/ai_engineering/uninstall.py
  src/ai_engineering/wiring.py
  tests/test_contracts.py
  tests/test_doctor.py
Due: prettier

fix(uninstall): the OpenCode plugin stops taking the whole uninstall down with it
  src/ai_engineering/uninstall.py
  tests/test_install.py
Due: none

fix(text): a record block that cannot be read is undecidable, never invisible
  src/ai_engineering/accept.py
  src/ai_engineering/doctor.py
  src/ai_engineering/text.py
  tests/test_doctor.py
  tests/test_record.py
Due: none

chore: raise the ceiling to 15,700, and say what the last estimate missed
  src/ai_engineering/contract.py
Due: none

fix(record): the record verbs stop lying in three small ways
  specs/002-quality-ecosystem-3-0/spec.md
  specs/003-guards-that-never-fired/spec.md
  src/ai_engineering/accept.py
  src/ai_engineering/spec.py
  src/ai_engineering/text.py
  tests/test_mut_spec.py
  tests/test_record.py
Due: prettier

fix(record): the record verbs stop resolving to whichever spec sorts last
  src/ai_engineering/accept.py
  src/ai_engineering/decide.py
  src/ai_engineering/spec.py
  tests/test_mut_accept.py
  tests/test_mut_spec.py
  tests/test_record.py
Due: none

fix(hooks): a blocked call is one denial protocol per surface, not a mixture
  hooks/_wrap.py
  hooks/chain.py
  specs/003-guards-that-never-fired/spec.md
  surfaces/opencode.ts
  tests/test_hooks.py
Due: eslint, prettier

fix(mutation): the worker runs with a disposable home, not only a disposable checkout
  justfile
  tests/test_contracts.py
Due: none

test(text): the fold gets the tests the mutation floor asked for
  src/ai_engineering/text.py
  tests/test_record.py
Due: none

fix(init): uninstall restores what init overwrote, and init stops offering the forbidden
  src/ai_engineering/init.py
  src/ai_engineering/uninstall.py
  src/ai_engineering/wiring.py
  tests/test_install.py
  tests/test_mut_init.py
Due: none

ci: a packaged guard denies from the installed tree, for the first time
  .github/workflows/install-matrix.yml
Due: prettier

fix(doctor): the floor has to be the one this install wired
  src/ai_engineering/doctor.py
  tests/test_doctor.py
Due: none

test: three numbers this repository states as prose become an exit code
  src/ai_engineering/cli.py
  src/ai_engineering/doctor.py
  src/ai_engineering/ui.py
  tests/test_contracts.py
Due: none

chore: close specs 002 and 003 at the count that landed
  specs/002-quality-ecosystem-3-0/spec.md
  specs/003-guards-that-never-fired/spec.md
  src/ai_engineering/contract.py
Due: prettier

docs(tools): the two verbs this branch changed, as they now behave
  docs/tools.md
Due: prettier

fix(tests): the two things closing spec 003 left behind
  src/ai_engineering/contract.py
  tests/adversarial/run.py
  tests/test_hooks.py
Due: none

docs(specs): spec 001's security box names where zizmor actually runs
  specs/001-v1-from-scratch/spec.md
Due: prettier

docs(specs): spec 005 closes, and says the three places its record was wrong
  specs/005-init-says-what-it-did/plan.md
  specs/005-init-says-what-it-did/spec.md
Due: prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
