Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

chore(ai-git-cleanup-v2/2): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v2.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-v2-2.md
Due: prettier

skills: single-gate ai-git-cleanup with fetch status and postSync (#736)
  .ai-engineering/ai-eng.lock
  .ai-engineering/config.toml
  .ai-engineering/recap.html
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v2.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-v2-1.md
  .ai-engineering/workflow/reviews/ai-git-cleanup-v2-2.md
  .ai-engineering/workflow/test-plans/ai-git-cleanup-v2.json
  .changeset/ai-git-cleanup.md
  CHANGELOG.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

docs(ai-git-cleanup): log live-run findings L17-L18, rules R3-R4
  LEARNINGS.md
Due: prettier

chore(ai-git-cleanup-v3): checkpoints, test plan
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  .ai-engineering/workflow/test-plans/ai-git-cleanup-v3.json
Due: prettier

test(ai-git-cleanup-v3/1): failing v3-shape engine tests
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
Due: eslint, prettier

chore(ai-git-cleanup-v3/1): behavior gate failed (attempt 1)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  LEARNINGS.md
Due: prettier

fix(ai-git-cleanup-v3/1): fixtures hold premises, pinned shape names
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
Due: eslint, prettier

fix(ai-git-cleanup-v3/1): adversarial round 1 choke-point guard
  .ai-engineering/workflow/reviews/ai-git-cleanup-v3-1.md
  LEARNINGS.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
Due: eslint, prettier

chore(ai-git-cleanup-v3/1): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
Due: prettier

test(ai-git-cleanup-v3/2): reworked flow spec for v3 phases
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

feat(ai-git-cleanup-v3/2): action-first flow, flags, triggers
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

chore(ai-git-cleanup-v3/2): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-v3-2.md
Due: prettier

test(ai-git-cleanup-v3/3): report contract and forbidden-sweep tests
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

feat(ai-git-cleanup-v3/3): report closeout, docs, drop evidence ref
  .changeset/ai-git-cleanup.md
  CHANGELOG.md
  NOTICE.md
  THIRD-PARTY-NOTICES.md
  skills/ai-git-cleanup/references/merge-evidence.md
  src/assets.ts
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

chore(ai-git-cleanup-v3/3): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-v3-3.md
Due: prettier

docs(ai-git-cleanup-v3): promote R5-R6, widen R4
  LEARNINGS.md
Due: prettier

docs(research): audit codegraph install via ai-eng init
  .ai-engineering/research/012-instalar-codegraph-desde-ai-eng-init.html
Due: none

chore(security): restore run-1 artifact deleted by #732
  .ai-engineering/security/run-1/FINDINGS-DETAIL.md
  .ai-engineering/security/run-1/REPORT.md
  .ai-engineering/security/run-1/architecture.md
  .ai-engineering/security/run-1/findings.json
Due: prettier

docs(research): audit agentsview and engram as offers
  .ai-engineering/research/013-ofrecer-agentsview-y-engram-junto-a-codegraph.html
Due: none

skills: action-first ai-git-cleanup with auto migration and one ask (#737)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v3.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-v3-1.md
  .ai-engineering/workflow/reviews/ai-git-cleanup-v3-2.md
  .ai-engineering/workflow/reviews/ai-git-cleanup-v3-3.md
  .ai-engineering/workflow/test-plans/ai-git-cleanup-v3.json
  .changeset/ai-git-cleanup.md
  CHANGELOG.md
  LEARNINGS.md
  NOTICE.md
  THIRD-PARTY-NOTICES.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/references/merge-evidence.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  src/assets.ts
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

feat(init): ask before replacing a foreign AGENTS.md
  .ai-engineering/PRD.html
  .ai-engineering/brainstorm.html
  .ai-engineering/design/artifact-design-v2-proposal.md
  .ai-engineering/recap.html
  skills/ai-agents-md/SKILL.md
  skills/ai-brainstorm/references/artifact-design.md
  src/commands/init.ts
  templates/AGENTS.md.tpl
  templates/brainstorm.html.tpl
  templates/recap.html.tpl
  tests/init-command.spec.ts
Due: eslint, prettier

fix(config): widen policy_mode to 6467
  .ai-engineering/config.toml
Due: none

fix: ci
  bun.lock
  package.json
Due: prettier

feat(init): ask before replacing a foreign AGENTS.md (#739)
  .ai-engineering/PRD.html
  .ai-engineering/brainstorm.html
  .ai-engineering/config.toml
  .ai-engineering/design/artifact-design-v2-proposal.md
  .ai-engineering/recap.html
  .ai-engineering/research/012-instalar-codegraph-desde-ai-eng-init.html
  .ai-engineering/research/013-ofrecer-agentsview-y-engram-junto-a-codegraph.html
  .ai-engineering/security/run-1/FINDINGS-DETAIL.md
  .ai-engineering/security/run-1/REPORT.md
  .ai-engineering/security/run-1/architecture.md
  .ai-engineering/security/run-1/findings.json
  bun.lock
  package.json
  skills/ai-agents-md/SKILL.md
  skills/ai-brainstorm/references/artifact-design.md
  src/commands/init.ts
  templates/AGENTS.md.tpl
  templates/brainstorm.html.tpl
  templates/recap.html.tpl
  tests/init-command.spec.ts
Due: eslint, prettier

chore(research): add report 014 notebooklm deck
  .ai-engineering/research/014-charla-github-notebooklm.html
Due: none

refactor(npm): ship source only, drop platform packages
  .changeset/source-only-package.md
  .github/workflows/release.yml
  README.md
  bin/ai-eng.js
  package.json
  scripts/build-platform-package.ts
  scripts/set-platform-deps.ts
  tests/bin-ai-eng.d.ts
  tests/build-platform-package.spec.ts
  tests/launcher.spec.ts
  tests/npm-manifest.spec.ts
Due: eslint, prettier

refactor(npm): ship source only, drop platform packages (#740)
  .ai-engineering/research/014-charla-github-notebooklm.html
  .changeset/source-only-package.md
  .github/workflows/release.yml
  README.md
  bin/ai-eng.js
  package.json
  scripts/build-platform-package.ts
  scripts/set-platform-deps.ts
  tests/bin-ai-eng.d.ts
  tests/build-platform-package.spec.ts
  tests/launcher.spec.ts
  tests/npm-manifest.spec.ts
Due: eslint, prettier

fix(artifacts): gate layout, add research carrier
  .ai-engineering/design/audits/001-viewer.html
  .ai-engineering/research/002-jev-chain-optimization.html
  .ai-engineering/research/007-token-routing-portal-jev.html
  .ai-engineering/research/008-config-to-project.html
  .ai-engineering/research/009-cursor-hooks-soporte.html
  .ai-engineering/research/011-shopify-workflow-en-ai-engineering.html
  .ai-engineering/research/012-instalar-codegraph-desde-ai-eng-init.html
  .ai-engineering/research/013-ofrecer-agentsview-y-engram-junto-a-codegraph.html
  .ai-engineering/research/014-charla-github-notebooklm.html
  .ai-engineering/spec.html
  .changeset/artifact-layout-gate.md
  .skill-map/.gitignore
  .skill-map/settings.json
  .skillmapignore
  docs/recap.html
  skills/ai-brainstorm/SKILL.md
  skills/ai-brainstorm/references/artifact-design.md
  skills/ai-config-to-project/SKILL.md
  skills/ai-research/SKILL.md
  src/assets.ts
  templates/recap.html.tpl
  templates/research.html.tpl
  tests/artifact-layout.spec.ts
  tests/artifact-scroll-spy.spec.ts
Due: eslint, prettier

artifacts: gate layout and add research carrier (#742)
  .ai-engineering/design/audits/001-viewer.html
  .ai-engineering/research/002-jev-chain-optimization.html
  .ai-engineering/research/007-token-routing-portal-jev.html
  .ai-engineering/research/008-config-to-project.html
  .ai-engineering/research/009-cursor-hooks-soporte.html
  .ai-engineering/research/011-shopify-workflow-en-ai-engineering.html
  .ai-engineering/research/012-instalar-codegraph-desde-ai-eng-init.html
  .ai-engineering/research/013-ofrecer-agentsview-y-engram-junto-a-codegraph.html
  .ai-engineering/research/014-charla-github-notebooklm.html
  .ai-engineering/spec.html
  .changeset/artifact-layout-gate.md
  .skill-map/.gitignore
  .skill-map/settings.json
  .skillmapignore
  docs/recap.html
  skills/ai-brainstorm/SKILL.md
  skills/ai-brainstorm/references/artifact-design.md
  skills/ai-config-to-project/SKILL.md
  skills/ai-research/SKILL.md
  src/assets.ts
  templates/recap.html.tpl
  templates/research.html.tpl
  tests/artifact-layout.spec.ts
  tests/artifact-scroll-spy.spec.ts
Due: eslint, prettier

docs(git-worktree-flow): approved interview and PRD for the worktree flow
  .ai-engineering/PRD.html
  .ai-engineering/brainstorm.html
Due: none

feat(git-worktree-flow): the missing git contract
  AGENTS.md
  templates/AGENTS.md.tpl
Due: prettier

chore(git-worktree-flow): plan the checkpoints and the tests
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
  .ai-engineering/workflow/test-plans/git-worktree-flow.json
Due: prettier

chore(git-worktree-flow): checkpoint 1 behavior gate passed
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
Due: prettier

chore(git-worktree-flow): make the plan's commit messages legal
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
Due: prettier

fix(git-worktree-flow): scope the contract to its actors
  .ai-engineering/workflow/reviews/git-worktree-flow-1.md
  AGENTS.md
  templates/AGENTS.md.tpl
Due: prettier

chore(git-worktree-flow): the docs checkpoint aligns the design pages
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
Due: prettier

fix(git-worktree-flow): state where each artifact is born
  .ai-engineering/workflow/reviews/git-worktree-flow-1.md
  AGENTS.md
  templates/AGENTS.md.tpl
Due: prettier

chore(git-worktree-flow): checkpoint 1 review passed
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
  .ai-engineering/workflow/reviews/git-worktree-flow-1.md
Due: prettier

test(git-worktree-flow): the worktree verb's cases, failing
  tests/worktree-command.spec.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
