Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Generated by ai-engineering â€” Git hooks via Lefthook

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner
    eslint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint {staged_files}
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}"
      run: npx prettier --check {staged_files}

commit-msg:
  commands:
    conventional:
      run: |
        MSG=$(cat {1})
        if echo "$MSG" | grep -qE "^Merge |^Revert "; then exit 0; fi
        if ! echo "$MSG" | head -1 | grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([a-zA-Z0-9_-]+\))?: .{1,}'; then
          echo "Commit message must follow Conventional Commits: <type>(<scope>): <description>"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    branch-protection:
      run: |
        BRANCH=$(git branch --show-current)
        if [ "$BRANCH" = "main" ]; then echo "Direct push to main blocked. Use a PR."; exit 1; fi
        if [ "$BRANCH" = "develop" ]; then echo "Direct push to develop blocked. Use a PR."; exit 1; fi
    lint:
      run: npx eslint .
    typecheck:
      run: npx tsc --noEmit
    test:
      run: npm test
    build:
      run: npm run build
    npm-audit:
      run: npm audit --audit-level=high
    gitleaks-branch:
      run: gitleaks detect --source . --log-opts "$(git merge-base HEAD origin/main)..HEAD" --no-banner
    semgrep:
      run: semgrep --config=auto --error .

docs(049): the grill record — three findings carried (first install never sees 24 red; two silent skip causes; skills skip was named), five refuted with commands
  specs/049-stranger-install-friction/spec.md
Due: prettier

docs(049): council round 1 — 2 gaps carried (Decision names its API additions; cure text declared a machine-readable contract), -k-selector gap refuted by the pytest run
  specs/049-stranger-install-friction/spec.md
Due: prettier

docs(changelog): spec 049 — refusals name their offender; the cure text is a shipped contract
  CHANGELOG.md
Due: prettier

chore(049): order the Callable import per ruff in wiring.py
  src/ai_engineering/wiring.py
Due: none

docs(049): reconcile the council totals to what the counter recomputes, and keep the signing with a person
  specs/049-stranger-install-friction/spec.md
Due: prettier

docs(intent): rebuild the page at the current tree's digest
  docs/solution-intent.html
Due: none

docs: seed v2 with blueprint v17 (immutable goal input)
  docs/blueprint.html
Due: none

fix(skills): gate fixes, agent rule matcher, license normalization, final canon sync
  skills/ai-architect/SKILL.md
  skills/ai-architect/agents/openai.yaml
  skills/ai-architect/headstart-SKILL.md
  skills/ai-design-audit/SKILL.md
  skills/ai-design-audit/ai-design-audit-SKILL.md
  skills/ai-design/SKILL.md
  skills/ai-design/design-orchestrator-SKILL.md
  skills/ai-issue-report/SKILL.md
  skills/ai-plan/SKILL.md
  skills/ai-plan/agents/openai.yaml
  skills/ai-plan/commands/to-bar.md
  skills/ai-plan/wayfinder-SKILL.md
  skills/ai-proof/SKILL.md
  skills/ai-proof/references/gates.md
  skills/ai-proof/references/orchestration.md
  skills/ai-proof/scripts/install-hooks.mjs
  skills/ai-proof/scripts/stop-hook.mjs
  skills/ai-proof/unlazy-SKILL.md
  skills/ai-read-docs/SKILL.md
  skills/ai-verify/SKILL.md
  skills/ai-verify/VERIFICATION-SETUP-GUIDE.md
  skills/ai-verify/evals/README.md
  skills/ai-verify/tiers/2-embedded/second-opinion/SKILL.md
  skills/ai-verify/tiers/2-embedded/second-opinion/scripts/second-opinion.sh
  skills/ai-verify/tiers/3-chain/review-router/SKILL.md
  skills/ai-visual-recap/SKILL.md
  skills/ai-visual-recap/references/connection.md
  skills/ai-visual-recap/references/local-files.md
  skills/ai-visual-recap/references/wireframe.md
  skills/ai-visual-recap/visual-recap-SKILL.md
  skills/ai-writing-behavior/SKILL.md
  skills/ai-writing-behavior/writing-agent-behavior-SKILL.md
  src/assets.ts
  src/commands/doctor.ts
  tests/skills.spec.ts
Due: eslint, prettier

docs(notice): attribute ai-brainstorm merge and ai-agents-md
  NOTICE.md
Due: prettier

feat(release): changesets automation + single version source, 2.0.0
  .ai-engineering/ai-eng.lock
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/version.yml
  CHANGELOG.md
  bun.lock
  package.json
  src/commands/init-shared.ts
  src/version.ts
Due: eslint, prettier

refactor(i18n): unify CLI, floor and spec user-facing copy to English
  src/branding.ts
  src/cli.ts
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/commands/update.ts
  src/commands/upgrade.ts
  src/floor/entry.ts
  src/floor/index.ts
  src/guards/no-verify.ts
  src/guards/self-protect.ts
  src/skills-lint.ts
  src/spec/index.ts
  src/surfaces/adapters.ts
  src/wrap/index.ts
Due: eslint, prettier

refactor(i18n): templates, spec and plan artifacts to English
  .ai-engineering/plan.html
  .ai-engineering/spec.html
  DECISIONS.md
  NOTICE.md
  templates/DECISIONS.md.tpl
  templates/overrides.toml.tpl
  templates/plan.html.tpl
  templates/spec.html.tpl
Due: prettier

feat(skills): embed ai-write reference writers for README/AGENTS/CONTRIBUTING/SECURITY
  skills/ai-write/references/agents-md-writer.md
  skills/ai-write/references/contributing-writer.md
  skills/ai-write/references/readme-writer.md
  skills/ai-write/references/security-md-writer.md
  src/assets.ts
Due: eslint, prettier

docs: rewrite README, SECURITY, CONTRIBUTING, CODE_OF_CONDUCT for v2
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: prettier

fix(security): restore gitleaks fingerprint allowlist for historical synthetic findings
  .gitleaksignore
Due: none

docs(brainstorm): cli-ux-14 — human CLI surface aligned to blueprint §14
  .ai-engineering/brainstorm.md
Due: prettier

chore(ai-eng): archive milestone v2-2.0.0 (4/4 gates green)
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
  .ai-engineering/plan.html
  .ai-engineering/spec.html
Due: prettier

docs(spec): cli-ux-14 — human CLI surface aligned to blueprint §14 (11 gates)
  .ai-engineering/plan.html
  .ai-engineering/spec.html
Due: none

chore(ai-eng): pin approved spec cli-ux-14 (STOP 1)
  .ai-engineering/ai-eng.lock
Due: none

feat(ui): frame layer ui.ts + boosters catalog + init rework (G1 green)
  DECISIONS.md
  src/boosters.ts
  src/commands/init.ts
  src/ui.ts
Due: eslint, prettier

feat(doctor): frame render, canon check vs embedded assets, assets-outdated WARN
  src/commands/doctor.ts
  src/surfaces/adapters.ts
Due: eslint, prettier

feat(update): sync plan, conflict resolution, apply confirm, revertable commit
  src/cli.ts
  src/commands/init.ts
  src/commands/update.ts
  src/surfaces/adapters.ts
Due: eslint, prettier

feat(cli): frame flow for upgrade/config/uninstall + maybeNotice version tail
  src/cli.ts
  src/commands/config.ts
  src/commands/uninstall.ts
  src/commands/upgrade.ts
  src/notice.ts
Due: eslint, prettier

chore(spec): cli-ux-14 gates made executable (spec run), proof script, unit tests
  .ai-engineering/spec.html
  scripts/proof-cli-ux.sh
  tests/adversarial/isolation.test.ts
  tests/cli-ux.test.ts
Due: eslint, prettier

chore(spec): fix G4 count and G9/G10 check commands
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

chore(ai-eng): cli-ux-14 gates all met — pin updated
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

feat(ui): scriptedInput key queue for scripted pipes; env-hygiene tests pass
  .agents/behaviors/ai-goal-loop/BEHAVIOR.md
  src/commands/init.ts
  src/commands/uninstall.ts
  src/toml.ts
  src/ui.ts
Due: eslint, prettier

chore(ai-eng): close cli-ux-14 — 11/11 gates met
  .ai-engineering/ai-eng.lock
  .ai-engineering/plan.html
  .ai-engineering/spec.html
Due: none

feat(cli): round-15 UX fixes — preselect, canon status, scopes, symbols, no jargon; spec cli-ux-15 (9 gates)
  .ai-engineering/plan.html
  .ai-engineering/spec.html
  scripts/proof-cli-ux.sh
  src/cli.ts
  src/commands/config.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/ui.ts
Due: eslint, prettier

chore(ai-eng): cli-ux-15 gates all met — pin updated
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

fix(payload): P0-1 mirrors mkdir recursive + doctor check; P0-2 chain bundle for in-process hosts; P0-3 embed .json; minors (chmod, uninstall chain, canonVersion, --surface list, CI install, shebangs)
  scripts/chain-entry.ts
  scripts/gen-assets.ts
  scripts/proof-cli-ux.sh
  skills/.chain-bundle/ai-eng-chain.ts
  src/assets.ts
  src/cli.ts
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/commands/update.ts
  src/embed.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  templates/ci.yml.tpl
  templates/git-commit-msg.tpl
  templates/git-pre-commit.tpl
  templates/git-pre-push.tpl
  tests/skills.spec.ts
Due: eslint, prettier

chore(ai-eng): cli-ux-15 re-verified post-P0-fixes — 9/9 met, pin updated
  .ai-engineering/ai-eng.lock
Due: none

chore(ai-eng): assets → 2.0.0
  .agents/hooks/ai-eng-chain.ts
  .agents/hooks/ai-eng.ts
  .ai-engineering/ai-eng.lock
  .ai-engineering/config.toml
Due: eslint, prettier

fix(security): lock is untrusted — refuse escape paths, claim only owned files
  src/commands/uninstall.ts
  src/commands/update.ts
  tests/adversarial/lock-security.test.ts
Due: eslint, prettier

fix(ci): reconcile type gate to oxlint type-aware; fix 6 type errors
  .github/workflows/check.yml
  AGENTS.md
  package.json
  scripts/gen-assets.ts
  skills/.chain-bundle/ai-eng-chain.ts
  src/assets.ts
  src/commands/upgrade.ts
  src/embedded.d.ts
  src/install.ts
  src/toml.ts
  src/ui.ts
  tests/adversarial/init-recovery.test.ts
  tests/skills.spec.ts
Due: eslint, prettier

fix(doctor): chain latency metric excludes git-floor and spec-run receipts
  .ai-engineering/plan.html
  .ai-engineering/spec.html
  src/receipts.ts
Due: eslint, prettier
