Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

ci(quality): run SonarCloud and Snyk as their own gates
  .github/workflows/check.yml
  .gitignore
  sonar-project.properties
Due: prettier

ci(snyk): split the gate into two steps so a failure names its command
  .github/workflows/check.yml
Due: prettier

ci(snyk): collect the SAST verdict without -e aborting the step
  .github/workflows/check.yml
Due: prettier

docs: the README a stranger can install from, and no 'floor' anywhere
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/global-carriers.md
  package.json
Due: prettier

test(coverage): drive every verb, carrier and hook, then fix what that found
  scripts/.embed/ai-verify/evals/scripts/score.ts.txt
  skills/ai-verify/evals/scripts/score.ts
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/commands/upgrade.ts
  src/floor/index.ts
  templates/settings.claude.json.tpl
  tests/carriers-install.spec.ts
  tests/chain-dialect.spec.ts
  tests/cli-ux.test.ts
  tests/config-command.spec.ts
  tests/doctor-command.spec.ts
  tests/embed-canon.spec.ts
  tests/floor-hooks.spec.ts
  tests/init-command.spec.ts
  tests/notice.spec.ts
  tests/skills-eval-score.spec.ts
  tests/spec-command.spec.ts
  tests/uninstall-command.spec.ts
  tests/update-command.spec.ts
Due: eslint, prettier

fix(snyk): accept the eval scorer's ReDoS in the tree, and watch both streams
  .snyk
  tests/notice.spec.ts
Due: eslint, prettier

test(notice): assert the decision and the cache, and print the line for real
  tests/notice.spec.ts
Due: eslint, prettier

test(notice): ask the module where its cache is
  tests/notice.spec.ts
Due: eslint, prettier

test(notice): name the state when the notice stays silent
  tests/notice.spec.ts
Due: eslint, prettier

test(notice): the diagnostic cannot shadow the home it reports
  tests/notice.spec.ts
Due: eslint, prettier

test(notice): the tests ask for the notice instead of inheriting the opt-out
  tests/notice.spec.ts
Due: eslint, prettier

fix(sonar): the sort comparator the analyzer asks for, and the PATH rule by name
  sonar-project.properties
  src/commands/doctor.ts
Due: eslint, prettier

fix(sonar): the cheap smells, and the gate's real reason in the file
  sonar-project.properties
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/upgrade.ts
  tests/spec-command.spec.ts
Due: eslint, prettier

fix(doctor): the arch check reads the rules file it claims to check
  src/commands/doctor.ts
  tests/doctor-command.spec.ts
Due: eslint, prettier

docs: the repo's own recap.html, and badges that open the real projects
  .ai-engineering/recap.html
  README.md
Due: prettier

refactor(quality): split over-complex commands and enforce the SonarCloud gate
  .github/workflows/check.yml
  sonar-project.properties
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/floor/index.ts
Due: eslint, prettier

ci: SonarCloud and Snyk as gates, and the coverage they were grading (#722)
  .ai-engineering/recap.html
  .github/workflows/ai-eng-check.yml
  .github/workflows/check.yml
  .github/workflows/e2e.yml
  .github/workflows/platforms.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
  .gitignore
  .snyk
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/global-carriers.md
  package.json
  scripts/.embed/ai-verify/evals/scripts/score.ts.txt
  skills/ai-verify/evals/scripts/score.ts
  sonar-project.properties
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/commands/upgrade.ts
  src/floor/index.ts
  templates/settings.claude.json.tpl
  tests/carriers-install.spec.ts
  tests/chain-dialect.spec.ts
  tests/cli-ux.test.ts
  tests/config-command.spec.ts
  tests/doctor-command.spec.ts
  tests/embed-canon.spec.ts
  tests/floor-hooks.spec.ts
  tests/init-command.spec.ts
  tests/notice.spec.ts
  tests/skills-eval-score.spec.ts
  tests/spec-command.spec.ts
  tests/uninstall-command.spec.ts
  tests/update-command.spec.ts
Due: eslint, prettier

fix(sonar): the canon sort comparator the gate still flagged
  src/embed.ts
Due: eslint, prettier

fix(sonar): the canon sort comparator the gate still flagged (#723)
  src/embed.ts
Due: eslint, prettier

chore(ai-eng): assets → 2.2.0
  .ai-engineering/ai-eng.lock
  .changeset/update-says-what-it-did.md
  .github/workflows/ai-eng-check.yml
  README.md
  scripts/proof-cli-ux.sh
  src/commands/update.ts
  src/surfaces/adapters.ts
  tests/carriers-install.spec.ts
  tests/update-command.spec.ts
Due: eslint, prettier

ci: add the mutation tier over the governance core
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
  .ai-engineering/plan.html
  .ai-engineering/research/005-mutation-tier-facts.html
  .ai-engineering/security/run-1/findings.json
  .ai-engineering/security/run-2/findings.json
  .ai-engineering/spec.html
  .changeset/security-findings-say-where-they-stand.md
  .changeset/slots-are-the-sessions-to-write.md
  .github/workflows/check.yml
  .github/workflows/mutation.yml
  .gitignore
  DECISIONS.md
  README.md
  bun.lock
  docs/recap.html
  package.json
  skills/.chain-bundle/ai-eng-chain.ts
  skills/ai-brainstorm/SKILL.md
  skills/ai-security/SKILL.md
  skills/ai-security/references/VALIDATION-AND-REPORTING.md
  skills/ai-security/references/report-schema.json
  src/guards/self-protect.ts
  src/shared-slots.ts
  src/spec/index.ts
  stryker.conf.mjs
  tests/adversarial/governance-gate.test.ts
  tests/security-findings.spec.ts
Due: eslint, prettier

fix(deps): force smol-toml 1.7.2 past GHSA-7w5x-hrqm-74c2
  bun.lock
  package.json
Due: prettier

ci: set the mutation tier's ceiling from its first real CI run
  .ai-engineering/plan.html
  .github/workflows/mutation.yml
  docs/recap.html
Due: prettier

fix(spec): raise gate-check timeout to 600s for mutation gates
  src/spec/index.ts
Due: eslint, prettier

fix(gates): reconcile shipped tests with the governance 2.2.0 install
  .ai-engineering/arch.rules.json
  tests/security-findings.spec.ts
Due: eslint, prettier

feat(ui): pre-wrap clack rows with fast-wrap-ansi
  .ai-engineering/config.toml
  .github/assets/cli-tour.gif
  README.md
  bun.lock
  package.json
  src/ui.ts
  tests/uninstall-command.spec.ts
Due: eslint, prettier

fix(gates): restore the describe closer lost in the whitespace trim
  tests/security-findings.spec.ts
Due: eslint, prettier

fix(ci): skip brand-tree tests where the sibling web repo is absent
  tests/brand-generated.spec.ts
Due: eslint, prettier

test(core): kill the mutation tier's surviving mutants
  tests/brand-generated.spec.ts
  tests/chain-dispatch.spec.ts
  tests/floor-gates.spec.ts
  tests/injection-loop.spec.ts
  tests/no-verify.spec.ts
  tests/payload-dialect.spec.ts
  tests/self-protect.spec.ts
Due: eslint, prettier

fix(types): satisfy the typecheck the CI runner caught
  tests/floor-gates.spec.ts
  tests/payload-dialect.spec.ts
  tests/self-protect.spec.ts
Due: eslint, prettier

fix(npm): ship scripts/.embed in the tarball — assets.ts imports it with type:file
  .changeset/npm-package-missing-embed-assets.md
  package.json
Due: prettier

ci(release): verify-tag — the owner pushes v* tags, GITHUB_TOKEN cannot bypass the ruleset
  .github/workflows/release.yml
Due: prettier

fix(branding): paint banner hex as truecolor SGR
  .changeset/banner-truecolor.md
  src/branding.ts
  tests/cli-ux.test.ts
Due: eslint, prettier

fix(branding): paint banner hex as truecolor SGR (#727)
  .changeset/banner-truecolor.md
  src/branding.ts
  tests/cli-ux.test.ts
Due: eslint, prettier

docs: research 001 — observability-first governance audit
  .ai-engineering/research/001-gobernabilidad-observabilidad.html
Due: none

docs: fold the policy guard into research/001 — D-002
  .ai-engineering/research/001-gobernabilidad-observabilidad.html
  DECISIONS.md
Due: prettier

docs(005): skill pattern analysis — 90 sessions, 1 month
  .ai-engineering/research/005-skill-pattern-analysis.html
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
