Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

test: verify git floor hooks
  .ai-engineering/floor-test-temp.txt
Due: none

feat(sessions): R1/R2/R3 — briefing, session_id receipts, research cache
  .ai-engineering/research-cache/git-backed-sessions.md
  .ai-engineering/research/006-git-backed-sessions.html
  .changeset/session-handoff-r1r2r3.md
  skills/.chain-bundle/ai-eng-chain.ts
  src/chain/mod.ts
  src/cli.ts
  src/commands/briefing.ts
  src/commands/doctor.ts
  src/receipts.ts
Due: eslint, prettier

fix(ci): briefing.ts typecheck errors — exactOptionalPropertyTypes + noUncheckedIndexedAccess
  src/commands/briefing.ts
Due: eslint, prettier

fix(ci): add untracked guard files — spoken-secret, circuit-breaker, local-rules
  src/guards/circuit-breaker.ts
  src/guards/local-rules.ts
  src/guards/spoken-secret.ts
Due: eslint, prettier

fix(ci): commit unstaged env.ts + injection.ts changes
  src/env.ts
  src/guards/injection.ts
Due: eslint, prettier

fix(ci): doctor test — brainstorm.md → brainstorm.html to match doctor code
  tests/doctor-command.spec.ts
Due: eslint, prettier

fix(ci): spec-lifecycle test — brainstorm.md → brainstorm.html
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

fix(ci): exclude mutation.yml from actionlint — false positive on matrix context
  .github/workflows/check.yml
Due: prettier

fix(ci): checkReceipts receives root — consistent with other checks
  src/commands/doctor.ts
Due: eslint, prettier

chore(spec): update gates to skill-system-overhaul — remove stale G13 revision check
  .ai-engineering/spec.html
Due: none

chore(spec): update lock sha256 to match new spec.html
  .ai-engineering/ai-eng.lock
Due: none

fix(spec): update lock sha256 to normalized spec hash
  .ai-engineering/ai-eng.lock
Due: none

fix(ci): checkReceipts root ?? undefined for null-safe path resolution
  src/commands/doctor.ts
Due: eslint, prettier

fix(ci): checkReceipts root? signature — nullable optional param
  src/commands/doctor.ts
Due: eslint, prettier

fix(ci): doctor accepts cwd param — canary test passes sandbox root explicitly
  src/commands/doctor.ts
  tests/doctor-command.spec.ts
Due: eslint, prettier

fix(spec): update gates to check repo files only — no ~/.agents/skills/
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

chore(skills): commit untracked skill files for spec gates
  skills/ai-audit-code/SKILL.md
  skills/ai-audit-docs/SKILL.md
  skills/ai-code-review/SKILL.md
  skills/ai-pr-loop-fix/SKILL.md
Due: prettier

revert(spec): restore working gates from edee2f18 — new gates need skill fixes first
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

Revert "chore(skills): commit untracked skill files for spec gates"
  skills/ai-audit-code/SKILL.md
  skills/ai-audit-docs/SKILL.md
  skills/ai-code-review/SKILL.md
  skills/ai-pr-loop-fix/SKILL.md
Due: prettier

fix(spec): restore spec.html and lock from 83b942fb — correct sha256 match
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

chore(skills): re-commit skill files needed by assets.ts
  skills/ai-audit-code/SKILL.md
  skills/ai-audit-docs/SKILL.md
  skills/ai-code-review/SKILL.md
  skills/ai-pr-loop-fix/SKILL.md
Due: prettier

fix(skills): add Lifecycle fields, fix broken links, remove invalid triggers
  skills/ai-audit-docs/SKILL.md
  skills/ai-code-review/SKILL.md
  skills/ai-codegraph/SKILL.md
  skills/ai-pr-loop-fix/SKILL.md
Due: prettier

fix(spec): G13 no revision check, add sidecar to arch rules
  .ai-engineering/ai-eng.lock
  .ai-engineering/arch.rules.json
  .ai-engineering/spec.html
Due: prettier

fix(test): rewrite canary test without sandbox — eliminates CI flakiness
  tests/doctor-command.spec.ts
Due: eslint, prettier

fix(arch): add sidecar layer to arch.rules.json
  .ai-engineering/arch.rules.json
Due: prettier

fix(ci): split mutation campaign to fix actionlint false-positive on matrix context
  .github/workflows/check.yml
  .github/workflows/mutation.yml
Due: prettier

fix(security): replace regex with string comparison to eliminate ReDoS
  src/commands/upgrade.ts
Due: eslint, prettier

refactor(commands): reduce cognitive complexity in surfaceHint and configMain
  src/commands/config.ts
  src/commands/init.ts
Due: eslint, prettier

refactor(uninstall): extract helpers to reduce cognitive complexity
  src/commands/uninstall.ts
Due: eslint, prettier

refactor(init): extract resolvePhase to reduce initMain cognitive complexity
  src/commands/init.ts
Due: eslint, prettier

refactor(doctor): extract helpers in gc functions to reduce cognitive complexity
  src/commands/doctor.ts
Due: eslint, prettier

chore(security): allowlist test fixtures in gitleaksignore
  .gitleaksignore
Due: none

feat(floor): block direct pushes to main in pre-push hook
  src/floor/index.ts
Due: eslint, prettier

feat(floor): block direct pushes to main via env var from hook shim
  src/floor/index.ts
  templates/git-pre-push.tpl
Due: eslint, prettier

fix(security): break Snyk taint chain in chain selection
  src/chain/mod.ts
Due: eslint, prettier

fix(ci): platform-aware launcher tests + gitleaks path allowlist
  .gitleaksignore
  .gitleaksrc.toml
  tests/launcher.spec.ts
Due: eslint, prettier

fix(tests): update init test + regenerate chain bundle
  skills/.chain-bundle/ai-eng-chain.ts
  tests/init-command.spec.ts
Due: eslint, prettier

fix(ci): pass -c .gitleaksrc.toml to gitleaks in hook and workflows
  .github/workflows/ai-eng-check.yml
  .github/workflows/check.yml
  src/floor/index.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
