Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

docs(spec-132): refine spec-133 M6 milestone — drop renames, add ai-explore skill
  .ai-engineering/observations/meta.json
  .ai-engineering/observations/observations.yml
  .ai-engineering/specs/drafts/cli-ux-cross-ide-rearch-brief.md
Due: prettier

fix(spec-132): drop type: ignore on SmartTyperGroup.resolve_command
  src/ai_engineering/core/cli/smart_group.py
Due: none

feat(spec-133): Wave 1 — Surface primitive + axioms + ScriptsPhase + skill_ref
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  src/ai_engineering/cli_ui_skill_ref.py
  src/ai_engineering/domain/__init__.py
  src/ai_engineering/domain/surface.py
  src/ai_engineering/installer/phases/__init__.py
  src/ai_engineering/installer/phases/scripts.py
  src/ai_engineering/installer/service.py
  src/ai_engineering/templates/.ai-engineering/scripts/branch_slug.py
  src/ai_engineering/templates/.ai-engineering/scripts/commit_compose.py
  src/ai_engineering/templates/.ai-engineering/scripts/doc_gate.py
  src/ai_engineering/templates/.ai-engineering/scripts/plan_tasks.py
  src/ai_engineering/templates/.ai-engineering/scripts/pr_body_compose.py
  src/ai_engineering/templates/.ai-engineering/scripts/regenerate-hooks-manifest.py
  src/ai_engineering/templates/.ai-engineering/scripts/runtime_rotate.py
  src/ai_engineering/templates/.ai-engineering/scripts/session_bootstrap.py
  src/ai_engineering/templates/.ai-engineering/scripts/spec_lifecycle.py
  tests/architecture/test_hexagonal.py
  tests/architecture/test_surface_parity.py
  tests/unit/cli_ui/__init__.py
  tests/unit/cli_ui/test_skill_ref.py
  tests/unit/domain/__init__.py
  tests/unit/domain/test_surface.py
  tests/unit/installer/test_phases_scripts_deploy.py
Due: prettier

feat(spec-133): Wave 2a — SurfacesConfig schema + wizard collapse + doctor parity
  .ai-engineering/specs/plan.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  src/ai_engineering/config/loader.py
  src/ai_engineering/config/manifest.py
  src/ai_engineering/doctor/phases/scripts.py
  src/ai_engineering/doctor/service.py
  src/ai_engineering/installer/wizard.py
  src/ai_engineering/templates/project/AGENTS.md
  src/ai_engineering/templates/project/CANONICAL.md
  src/ai_engineering/templates/project/CLAUDE.md
  src/ai_engineering/templates/project/GEMINI.md
  src/ai_engineering/templates/project/copilot-instructions.md
  tests/unit/config/test_manifest_surface_schema.py
  tests/unit/installer/test_wizard.py
  tests/unit/installer/test_wizard_spec133.py
Due: prettier

feat(spec-133): Wave 2b — OpenCode/Cursor/Antigravity Surfaces wired
  .ai-engineering/scripts/hooks/cursor-hook-bridge.py
  .ai-engineering/scripts/hooks/opencode-hook-bridge.ts
  docs/integrations/antigravity.md
  scripts/sync_mirrors/antigravity_target.py
  scripts/sync_mirrors/cursor_target.py
  scripts/sync_mirrors/opencode_target.py
  src/ai_engineering/installer/autodetect.py
  tests/integration/hooks/__init__.py
  tests/integration/hooks/test_cursor_bridge.py
  tests/integration/hooks/test_opencode_bridge.py
  tests/integration/sync_mirrors/__init__.py
  tests/integration/sync_mirrors/test_new_surface_targets.py
  tests/unit/installer/test_autodetect_spec133.py
Due: eslint, prettier

chore(spec-133): close — CHANGELOG + integration snapshots + final cleanups
  .ai-engineering/security/iocs/IOCS_ATTRIBUTION.md
  .ai-engineering/specs/plan.md
  CHANGELOG.md
  tests/architecture/test_surface_parity.py
  tests/golden/cli/help_snapshots/cleanup_all.txt
  tests/golden/cli/help_snapshots/cleanup_branches.txt
  tests/golden/cli/help_snapshots/cleanup_runtime.txt
  tests/golden/cli/help_snapshots/cleanup_specs.txt
  tests/integration/installer/fixtures/install-dir-schema.txt
  tests/integration/test_cli_install_doctor.py
Due: prettier

fix(spec-133): CI failures — ruff/ty fixes + workflow verb migration
  .github/workflows/ci-check.yml
  src/ai_engineering/cli_commands/cleanup.py
  src/ai_engineering/installer/opa.py
  src/ai_engineering/installer/phases/scripts.py
  src/ai_engineering/installer/wizard.py
  src/ai_engineering/verify/service.py
  tests/architecture/test_surface_parity.py
  tests/integration/doctor/test_doctor_fix_stack_drift.py
  tests/unit/domain/test_surface.py
Due: prettier

fix(spec-133): wave-3 CI fallout — Windows exec-bit + manifest loader + e2e overrides paths
  .github/workflows/ci-check.yml
  src/ai_engineering/doctor/phases/scripts.py
  tests/e2e/test_install_clean.py
  tests/e2e/test_install_existing.py
Due: prettier

fix(spec-133): wave-4 unit-test failures — agent registry + ownership match + OTel ANSI
  src/ai_engineering/config/framework_defaults.py
  tests/unit/cli/test_audit_otel_export_cli.py
  tests/unit/test_validator.py
Due: none

fix(spec-133): revert agent-list expansion — canonical = 9 first-class only
  src/ai_engineering/config/framework_defaults.py
  tests/unit/test_validator.py
Due: none

fix(spec-133): expand deterministic_router to 12 stacks per D-133-12
  tests/unit/router/test_deterministic_router.py
  tools/skill_app/deterministic_router.py
Due: none

chore(spec-134): add skills + agents excellence v2 spec
  .ai-engineering/specs/spec.md
  .ai-engineering/state/specs/skills-agents-excellence-v2.json
Due: prettier

fix(spec-133): purge residual `ai-eng guide` references (D-133-02)
  docs/cli-reference.md
  src/ai_engineering/cli_commands/core.py
  src/ai_engineering/installer/service.py
  tests/unit/cli/test_no_guide_references.py
Due: prettier

feat(spec-133): add no_orphan_dirs check + D-133-02 CLI guard
  tests/unit/cli/test_d133_02_guide_deleted.py
  tests/unit/skill_lint/test_no_orphan_dirs.py
  tools/skill_lint/checks/no_orphan_dirs.py
Due: none

chore(tests): purge obsolete tests + Spec-123 zombie skips
  tests/adapters/test_adapter_scaffolding.py
  tests/fixtures/worktree-fast/python-multi-worktree/.ai-engineering/manifest.yml
  tests/fixtures/worktree-fast/python-multi-worktree/.gitignore
  tests/fixtures/worktree-fast/python-multi-worktree/pyproject.toml
  tests/golden/cli/help_snapshots/guide.txt
  tests/unit/cli/test_audit_parity_check_cli.py
  tests/unit/maintenance/test_spec_activate.py
  tests/unit/maintenance/test_spec_reset.py
  tests/unit/test_context_packs.py
  tests/unit/test_issues_service.py
  tests/unit/test_pr_description.py
  tests/unit/test_skills_maintenance.py
  tests/unit/test_spec_cmd.py
  tests/unit/test_validator.py
Due: prettier

fix(spec-128): consolidate compliance-trace handler under overrides/_shared
  .ai-engineering/overrides/_shared/compliance-trace.md
  .ai-engineering/overrides/_shared/conventions.md
  .claude/skills/ai-code/SKILL.md
  .codex/skills/ai-code/SKILL.md
  .gemini/skills/ai-code/SKILL.md
  .gemini/skills/ai-code/handlers/compliance-trace.md
  .github/skills/ai-code/SKILL.md
  .github/skills/ai-code/handlers/compliance-trace.md
  src/ai_engineering/templates/.ai-engineering/overrides/_shared/compliance-trace.md
  src/ai_engineering/templates/.ai-engineering/overrides/_shared/conventions.md
  src/ai_engineering/templates/project/.agent/skills/ai-code/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-code/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-code/handlers/compliance-trace.md
  src/ai_engineering/templates/project/.codex/skills/ai-code/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-code/handlers/compliance-trace.md
  src/ai_engineering/templates/project/.cursor/skills/ai-code/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-code/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-code/handlers/compliance-trace.md
  src/ai_engineering/templates/project/.github/skills/ai-code/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-code/handlers/compliance-trace.md
  src/ai_engineering/templates/project/.opencode/skills/ai-code/SKILL.md
Due: prettier

feat(spec-133): wizard prompts VCS provider when autodetect ambiguous
  CHANGELOG.md
  src/ai_engineering/installer/autodetect.py
  src/ai_engineering/installer/wizard.py
  tests/golden/cli/help_snapshots/config_reconfigure.txt
  tests/golden/cli/help_snapshots/config_surface_list.txt
  tests/golden/cli/help_snapshots/decision_backfill.txt
  tests/golden/cli/help_snapshots/decision_expire-check.txt
  tests/golden/cli/help_snapshots/decision_record.txt
  tests/golden/cli/help_snapshots/install.txt
  tests/unit/installer/test_autodetect.py
  tests/unit/installer/test_phases.py
  tests/unit/installer/test_wizard_spec133.py
  tests/unit/test_installer.py
Due: prettier

chore(spec-133): consolidate session observations + add v2 excellence brief draft
  .ai-engineering/observations/meta.json
  .ai-engineering/observations/observations.yml
  .ai-engineering/specs/drafts/skills-agents-excellence-v2-brief.md
Due: prettier

refactor(tests): sync to current flow + eliminate double-maintenance
  tests/integration/cli/test_stack_drift_middleware.py
  tests/integration/test_cli_install_doctor.py
  tests/unit/test_agent_schema_validation.py
  tests/unit/test_setup_cli.py
Due: none

fix(spec-133): wire decision CLI to canonical state.db + add expires_at/details_json
  .ai-engineering/observations/meta.json
  .ai-engineering/observations/observations.yml
  src/ai_engineering/cli_commands/decisions_cmd.py
  src/ai_engineering/cli_factory.py
  src/ai_engineering/state/migrations/0006_add_expires_at_to_decisions.py
  src/ai_engineering/state/migrations/0007_add_details_json_to_decisions.py
  src/ai_engineering/state/repository.py
  src/ai_engineering/state/state_db.py
  tests/unit/test_cli_decisions.py
  tests/unit/test_decision_store.py
Due: prettier

fix(spec-133): drift cleanup post-Surface-Primitive squash
  src/ai_engineering/cli_commands/_render_config.py
  src/ai_engineering/doctor/phases/scripts.py
Due: none

fix(spec-134): allowlist synthetic redactor fixture in .gitleaksignore
  .gitleaksignore
Due: none

docs(spec-135): approve framework-performance-hardening spec (15 DECs, 9 milestones)
  .ai-engineering/specs/drafts/framework-performance-hardening-brief.md
  .ai-engineering/specs/spec.md
  .ai-engineering/state/specs/spec-135-framework-performance-hardening.json
Due: prettier

fix: spec-133 D-133-16 fallout — surface schema in tests + state loader
  tests/unit/test_validator.py
  tests/unit/updater/test_update_orphan_detection.py
  tools/skill_domain/state_models.py
Due: none

style: clear 12 ruff lint errors across src, tests, scripts, tools
  scripts/sync_mirrors/opencode_target.py
  src/ai_engineering/cli_commands/config.py
  src/ai_engineering/config/framework_defaults.py
  src/ai_engineering/installer/phases/ide_config.py
  src/ai_engineering/installer/phases/scripts.py
  tests/architecture/test_naming_clarity.py
  tests/architecture/test_surface_parity.py
  tests/unit/installer/test_phases_scripts_deploy.py
  tests/unit/test_sync_mirrors.py
  tools/skill_lint/checks/no_orphan_dirs.py
Due: none

fix(spec-134): wave 4 quality-loop blocker + 2 majors
  .claude/skills/ai-advise/SKILL.md
  .claude/skills/ai-simplify/SKILL.md
  .codex/skills/ai-advise/SKILL.md
  .codex/skills/ai-simplify/SKILL.md
  .gemini/skills/ai-advise/SKILL.md
  .gemini/skills/ai-simplify/SKILL.md
  .github/skills/ai-advise/SKILL.md
  .github/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.agent/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.agent/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.cursor/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.cursor/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.opencode/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.opencode/skills/ai-simplify/SKILL.md
  tests/conformance/test_skills_rubric.py
  tools/skill_lint/checks/naming.py
Due: prettier

fix(spec-134): wave 4 quality-loop follow-up — hooks-manifest + sync-mirrors test
  .ai-engineering/state/hooks-manifest.json
  tests/unit/test_sync_mirrors.py
Due: prettier

fix(spec): align plan.md to spec-135 (PR #509 aggregate active)
  .ai-engineering/specs/plan.md
Due: prettier

feat(spec-134): wave 3 — /ai-brainstorm auto-spec gate (pre-interrogation)
  .ai-engineering/manifest.yml
  .ai-engineering/schemas/manifest.schema.json
  .claude/skills/ai-brainstorm/SKILL.md
  .claude/skills/ai-brainstorm/handlers/auto-spec-gate.md
  .codex/skills/ai-brainstorm/SKILL.md
  .codex/skills/ai-brainstorm/handlers/auto-spec-gate.md
  .gemini/skills/ai-brainstorm/SKILL.md
  .gemini/skills/ai-brainstorm/handlers/auto-spec-gate.md
  .github/skills/ai-brainstorm/SKILL.md
  .github/skills/ai-brainstorm/handlers/auto-spec-gate.md
  src/ai_engineering/brainstorm/__init__.py
  src/ai_engineering/brainstorm/auto_spec_gate.py
  src/ai_engineering/config/framework_defaults.py
  src/ai_engineering/config/manifest.py
  src/ai_engineering/templates/project/.agent/skills/ai-brainstorm/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-brainstorm/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-brainstorm/handlers/auto-spec-gate.md
  src/ai_engineering/templates/project/.codex/skills/ai-brainstorm/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-brainstorm/handlers/auto-spec-gate.md
  src/ai_engineering/templates/project/.cursor/skills/ai-brainstorm/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-brainstorm/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-brainstorm/handlers/auto-spec-gate.md
  src/ai_engineering/templates/project/.github/skills/ai-brainstorm/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-brainstorm/handlers/auto-spec-gate.md
  src/ai_engineering/templates/project/.opencode/skills/ai-brainstorm/SKILL.md
  tests/unit/skills/test_brainstorm_auto_spec_gate.py
Due: prettier

test: migrate stale providers/ai_providers/ides kwargs to surfaces
  tests/integration/installer/test_constitution_single_location.py
  tests/integration/test_install_idempotence.py
  tests/integration/test_install_matrix.py
  tests/integration/test_installer_integration.py
  tests/integration/test_phase_failure.py
  tests/integration/test_provider_commands.py
  tests/integration/test_updater.py
  tests/unit/installer/test_install_reinstall.py
  tests/unit/test_aieng_test_simulate_fail.py
  tests/unit/test_breaking_banner.py
  tests/unit/test_installer_phase_tools.py
  tests/unit/test_platform_unsupported_skip.py
  tests/unit/test_swift_stack_skip.py
  tests/unit/test_typescript_stack_no_op_install.py
  tests/unit/updater/test_update_orphan_detection.py
  tests/unit/updater/test_update_provider_filtering.py
Due: none

feat(spec-134): wave 2 — surface orphan agents as /ai-advise + /ai-simplify
  .claude/skills/ai-advise/SKILL.md
  .claude/skills/ai-simplify/SKILL.md
  .codex/skills/ai-advise/SKILL.md
  .codex/skills/ai-simplify/SKILL.md
  .gemini/skills/ai-advise/SKILL.md
  .gemini/skills/ai-simplify/SKILL.md
  .github/copilot-instructions.md
  .github/skills/ai-advise/SKILL.md
  .github/skills/ai-simplify/SKILL.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  src/ai_engineering/config/framework_defaults.py
  src/ai_engineering/templates/project/.agent/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.agent/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.cursor/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.cursor/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/.opencode/commands/ai-advise.md
  src/ai_engineering/templates/project/.opencode/commands/ai-simplify.md
  src/ai_engineering/templates/project/.opencode/skills/ai-advise/SKILL.md
  src/ai_engineering/templates/project/.opencode/skills/ai-simplify/SKILL.md
  src/ai_engineering/templates/project/AGENTS.md
  src/ai_engineering/templates/project/CLAUDE.md
  src/ai_engineering/templates/project/GEMINI.md
  src/ai_engineering/templates/project/copilot-instructions.md
  tests/architecture/test_skill_agent_cohesion.py
  tests/unit/config/test_manifest.py
Due: prettier

fix: integration cascade — decision-store JSON→state.db migration
  tests/integration/test_cli_install_doctor.py
  tests/integration/test_gap_fillers4.py
  tests/integration/test_gate_skip_accepted.py
  tests/integration/test_h1_rugpull_detection.py
  tests/integration/test_orchestrator_lookup.py
  tests/integration/test_spec104_orthogonality.py
  tests/integration/test_telemetry_emission.py
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
