Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Generated by ai-engineering â€” Git hooks via Lefthook

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner
    eslint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint {staged_files}
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}"
      run: npx prettier --check {staged_files}

commit-msg:
  commands:
    conventional:
      run: |
        MSG=$(cat {1})
        if echo "$MSG" | grep -qE "^Merge |^Revert "; then exit 0; fi
        if ! echo "$MSG" | head -1 | grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([a-zA-Z0-9_-]+\))?: .{1,}'; then
          echo "Commit message must follow Conventional Commits: <type>(<scope>): <description>"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    branch-protection:
      run: |
        BRANCH=$(git branch --show-current)
        if [ "$BRANCH" = "main" ]; then echo "Direct push to main blocked. Use a PR."; exit 1; fi
        if [ "$BRANCH" = "develop" ]; then echo "Direct push to develop blocked. Use a PR."; exit 1; fi
    lint:
      run: npx eslint .
    typecheck:
      run: npx tsc --noEmit
    test:
      run: npm test
    build:
      run: npm run build
    npm-audit:
      run: npm audit --audit-level=high
    gitleaks-branch:
      run: gitleaks detect --source . --log-opts "$(git merge-base HEAD origin/main)..HEAD" --no-banner
    semgrep:
      run: semgrep --config=auto --error .

docs(blueprint): canon 19 → 20 — add ai-agents-md (11 core + 9 on-demand)
  docs/blueprint.html
Due: none

fix(release): single npm publish path; macOS codesign
  .github/workflows/release.yml
Due: prettier

chore(ai-eng): assets → 2.0.0
  .agents/hooks/ai-eng-chain.ts
  .ai-engineering/ai-eng.lock
  src/cli.ts
Due: eslint, prettier

fix(governance): protect the floor's real location and stop the payload dropping fixture data
  .claude/reviews/full-review-20260903-133941.md
  .claude/reviews/packet-20260903-114139-diffs1.md
  .claude/reviews/packet-20260903-114139-diffs2.md
  .claude/reviews/packet-20260903-114139.md
  .github/workflows/check.yml
  .gitignore
  DECISIONS.md
  docs/blueprint.html
  git-hooks/commit-msg
  git-hooks/pre-commit
  git-hooks/pre-push
  package.json
  scripts/.embed/ai-verify/evals/fixtures/node-web/src/api/orders.ts.txt
  scripts/.embed/ai-verify/evals/fixtures/node-web/src/auth/session.ts.txt
  scripts/.embed/ai-verify/evals/fixtures/node-web/src/db/queries.ts.txt
  scripts/.embed/ai-verify/evals/fixtures/node-web/src/ui/OrderList.tsx.txt
  scripts/gen-assets.ts
  skills/.chain-bundle/ai-eng-chain.ts
  src/assets.ts
  src/commands/doctor.ts
  src/embed.ts
  src/embedded.d.ts
  src/guards/self-protect.ts
  src/surfaces/adapters.ts
  tests/adversarial/chain.test.ts
Due: eslint, prettier

chore(ai-eng): assets → 2.0.0
  .agents/hooks/ai-eng-chain.ts
  .ai-engineering/ai-eng.lock
Due: eslint, prettier

docs(blueprint): drop the machine path from the branding section
  docs/blueprint.html
Due: none

build: one build entry point that sweeps Bun's compile scratch
  .github/workflows/release.yml
  DECISIONS.md
  package.json
  scripts/build.ts
Due: eslint, prettier

chore(ai-eng): assets → 2.0.0
  .agents/hooks/ai-eng-chain.ts
  .agents/hooks/ai-eng.ts
  .ai-engineering/ai-eng.lock
  .changeset/quiet-pandas-shave.md
  skills/.chain-bundle/ai-eng-chain.ts
  src/assets.ts
  src/boosters.ts
  src/chain/dialect.ts
  src/chain/mod.ts
  src/chain/payload.ts
  src/cli.ts
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init-shared.ts
  src/commands/init.ts
  src/commands/uninstall.ts
  src/embed.ts
  src/shared-verbs.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  src/ui.ts
  templates/plugin.pi.ts.tpl
  templates/settings.codex.json.tpl
  templates/settings.copilot.cli.json.tpl
  templates/settings.copilot.json.tpl
  templates/settings.cursor.json.tpl
  tests/adversarial/chain.test.ts
  tests/adversarial/init-recovery.test.ts
  tests/adversarial/surfaces.test.ts
  tests/cli-ux.test.ts
  tests/generated-payload.test.ts
Due: eslint, prettier

fix(guards): scan the shell's file reads and route pi's web tools to containment
  skills/.chain-bundle/ai-eng-chain.ts
  src/chain/mod.ts
  src/chain/payload.ts
  src/guards/injection.ts
  templates/plugin.pi.ts.tpl
  tests/adversarial/chain.test.ts
  tests/adversarial/surfaces.test.ts
Due: eslint, prettier

chore(ai-eng): assets → 2.0.0
  .agents/hooks/ai-eng-chain.ts
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
Due: eslint, prettier

feat(skills): add the AGENTS.md audit path and drop the orphaned reference
  .ai-engineering/brainstorm.md
  .changeset/agents-md-audit-path.md
  skills/ai-agents-md/SKILL.md
  skills/ai-write/SKILL.md
  skills/ai-write/references/agents-md-writer.md
  src/assets.ts
Due: eslint, prettier

docs(research): audit the CI gate, repo vs the planted client pipeline
  .ai-engineering/research/001-cicd-gate-audit.html
Due: none

feat(cycle): the graph is declared by each skill
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
  .ai-engineering/plan.html
  .ai-engineering/recap.html
  .ai-engineering/spec.html
  DECISIONS.md
  docs/blueprint.html
  skills/ai-agents-md/SKILL.md
  skills/ai-architect/SKILL.md
  skills/ai-brainstorm/SKILL.md
  skills/ai-debug/SKILL.md
  skills/ai-design-audit/SKILL.md
  skills/ai-design/SKILL.md
  skills/ai-explore/SKILL.md
  skills/ai-goal/SKILL.md
  skills/ai-issue-report/SKILL.md
  skills/ai-note/SKILL.md
  skills/ai-plan/SKILL.md
  skills/ai-proof/SKILL.md
  skills/ai-read-docs/SKILL.md
  skills/ai-research/SKILL.md
  skills/ai-rtk/SKILL.md
  skills/ai-security/SKILL.md
  skills/ai-verify/SKILL.md
  skills/ai-visual-recap/SKILL.md
  skills/ai-write/SKILL.md
  skills/ai-writing-behavior/SKILL.md
  src/commands/doctor.ts
  src/install.ts
  src/receipts.ts
  src/spec/index.ts
  src/spec/triggers.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  templates/AGENTS.md.tpl
  templates/config.toml.tpl
  tests/skills.spec.ts
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

chore(ai-eng): close cycle-graph — 20/20 gates green, slots archived
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
  .ai-engineering/plan.html
  .ai-engineering/recap.html
  .ai-engineering/spec.html
Due: prettier

fix(doctor): a decision number is not a citation
  src/commands/doctor.ts
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

feat(surfaces): a loop claim carries its measurement
  .ai-engineering/research/002-surface-goal-modes.html
  DECISIONS.md
  src/commands/update.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  tests/adversarial/init-recovery.test.ts
  tests/adversarial/surfaces.test.ts
Due: eslint, prettier

feat(recap): code is colour, never a grey block
  skills/ai-visual-recap/SKILL.md
  skills/ai-visual-recap/assets/highlight.mjs
  src/assets.ts
Due: eslint, prettier

fix(canon): sweep what we shipped, report what we did not
  DECISIONS.md
  skills/ai-brainstorm/SKILL.md
  src/commands/doctor.ts
  src/commands/init.ts
  src/commands/update.ts
  src/embed.ts
  src/surfaces/adapters.ts
  tests/adversarial/init-recovery.test.ts
Due: eslint, prettier

docs(blueprint): §20.1 named a verb the CLI does not have
  docs/blueprint.html
Due: none

ci(gate): plant the workflow for every surface, and make spec run real
  .ai-engineering/ai-eng.lock
  .ai-engineering/plan.html
  .ai-engineering/spec.html
  .github/workflows/check.yml
  .github/workflows/planted-e2e.yml
  .github/workflows/release.yml
  DECISIONS.md
  docs/blueprint.html
  scripts/build.ts
  scripts/proof-planted-ci.sh
  scripts/release-flags.ts
  src/commands/init-shared.ts
  templates/ci.yml.tpl
  tests/planted-ci.spec.ts
  tests/release-flags.spec.ts
Due: eslint, prettier

fix(release): the artifact name is the one the client downloads
  .github/workflows/release.yml
  templates/ci.yml.tpl
Due: prettier

fix(release): target a tag only when it does not exist yet
  .github/workflows/release.yml
Due: prettier

fix(ci): a project that declares no JavaScript checks is not a failure
  .github/workflows/platforms.yml
  .github/workflows/version.yml
  templates/ci.yml.tpl
Due: prettier

feat(release): restore the security properties v0.13.0 shipped
  .github/workflows/release.yml
Due: prettier

fix(ci): bind the client's trust to a commit, and pin what builds the artefact
  .github/workflows/check.yml
  .github/workflows/planted-e2e.yml
  .github/workflows/platforms.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
  DECISIONS.md
  package.json
  scripts/proof-planted-ci.sh
  templates/ci.yml.tpl
  tests/planted-ci.spec.ts
Due: eslint, prettier

fix(ci): the compiled binary is executed, not interpreted
  .github/workflows/check.yml
  .github/workflows/planted-e2e.yml
  scripts/proof-planted-ci.sh
Due: prettier

fix(proofs): the CLI proof asked for a surface id that no longer exists
  scripts/proof-cli-ux.sh
Due: none

fix(ci): a fresh clone restores its own git floor before doctor
  .github/workflows/check.yml
Due: prettier

fix(ci): the workflows this repository is actually allowed to run
  .github/workflows/check.yml
  .github/workflows/planted-e2e.yml
  .github/workflows/platforms.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
  scripts/toolchain.sh
  templates/ci.yml.tpl
Due: prettier

fix(ci): the release workflow GitHub would not parse, and the two scanner findings
  .github/workflows/check.yml
  .github/workflows/release.yml
  bunfig.toml
  scripts/toolchain.sh
Due: prettier

fix(embed): the binary can read its own templates on Windows
  .github/workflows/release.yml
  src/embed.ts
  tests/embedded-path.spec.ts
Due: eslint, prettier

fix(release): attest the artifact Windows names with an .exe
  .github/workflows/release.yml
Due: prettier

fix(release): the publish job needs a token to attest the checksums too
  .github/workflows/release.yml
Due: prettier

fix(ci): the uninstall proof asserted nothing, and npm audit cannot read bun.lock
  .ai-engineering/spec.html
  .github/workflows/check.yml
  .github/workflows/platforms.yml
Due: prettier

fix(proofs): the no-op update proof says which number it compared
  scripts/proof-cli-ux.sh
Due: none

fix(spec): update no longer erases the approved contract
  src/commands/init.ts
  src/commands/update.ts
  src/install.ts
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

fix(security): audit run 1 — the runner executes, and the repo cannot pick its governor
  .ai-engineering/security/run-1/REPORT.md
  .ai-engineering/security/run-1/architecture.md
  .ai-engineering/security/run-1/findings.json
  .github/workflows/release.yml
  .github/workflows/version.yml
  DECISIONS.md
  skills/.chain-bundle/ai-eng-chain.ts
  src/env.ts
  src/floor/index.ts
  src/install.ts
  src/spec/index.ts
  src/spec/triggers.ts
  templates/ci.yml.tpl
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

fix(version): npm upgraded unprivileged and pinned
  .github/workflows/version.yml
Due: prettier

fix(version): pin npm to the newest 11.x, not the newest major
  .github/workflows/version.yml
Due: prettier
