Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

fix(doctor): key the readiness finding on a box receipt, not on the folder
  src/ai_engineering/doctor.py
  tests/test_readiness.py
Due: none

fix(doctor): the verdict counts the box that failed, and counts it once
  src/ai_engineering/doctor.py
  tests/test_readiness.py
Due: none

docs(changelog): tell an upgrading repository to un-ignore the declaration
  CHANGELOG.md
  src/ai_engineering/doctor.py
  tests/test_readiness.py
Due: prettier

fix(readiness): delete a condition that can never fire
  src/ai_engineering/readiness.py
Due: none

fix(doctor): the verdict row for a failed box stops running into its own count
  src/ai_engineering/doctor.py
  tests/test_readiness.py
Due: none

fix(wiring): the anchor probe gets its own seam, so the mutation gate can start
  src/ai_engineering/wiring.py
  tests/test_cli_migration.py
Due: none

docs(changelog): record the owner's approval of this wave's records
  CHANGELOG.md
Due: prettier

docs(adr): accept 0005, Intent supersedes the boundary of ADR 0004
  docs/adr/0005-intent-supersedes-0004.md
Due: prettier

docs(adr): accept 0006, govern engineering work from intent to evidence
  docs/adr/0006-governed-mission.md
Due: prettier

docs(adr): accept 0007, make the CLI outcome-first and exact
  docs/adr/0007-cli-contract.md
Due: prettier

test(fixture): state the interpreter a test needs instead of inheriting it
  tests/conftest.py
  tests/test_cli_migration.py
Due: none

docs(adr): the prose and the pins follow the three transitions
  docs/adr/0005-intent-supersedes-0004.md
  docs/adr/0006-governed-mission.md
  docs/adr/0007-cli-contract.md
  tests/test_madr.py
Due: prettier

feat(spec-010): close the wave, the ceiling and the record in one transaction
  .ai/intent.md
  specs/004-solution-intent-home/spec.md
  specs/010-governed-agentic-engineering-foundation/spec.md
  src/ai_engineering/contract.py
  tests/test_contracts.py
  tests/test_intent.py
  tests/test_readiness.py
Due: prettier

chore(budget): raise the ceiling to 43,824, and say what for
  src/ai_engineering/contract.py
  tests/test_contracts.py
  tests/test_readiness.py
Due: none

feat(decide): accept a record from the authority the repository already recorded
  src/ai_engineering/decide.py
  tests/test_madr.py
Due: none

docs(tools): document how a record is accepted
  docs/tools.md
Due: prettier

fix(mutate): the mutation gate can collect a baseline again
  justfile
  pyproject.toml
  tests/conftest.py
  tests/test_cli_migration.py
  tests/test_doctor.py
  tests/test_install.py
  tests/test_intent.py
  tests/test_madr.py
  tests/test_readiness.py
Due: none

test(readiness): kill the defects the mutation gate said nobody would notice
  .gitignore
  justfile
  src/ai_engineering/readiness.py
  tests/test_readiness.py
Due: none

docs(spec-011): draft the P1 surface adapter contract
  specs/011-surface-adapter-contract/spec.md
Due: prettier

docs(spec-011): plan P1, and name the authority it runs under
  specs/011-surface-adapter-contract/plan.md
Due: prettier

feat(policy): the surface adapter contract, closed on both sides
  policy/surface-adapter-v1.schema.json
  tests/test_p0_completeness.py
  tests/test_surface_adapter.py
Due: prettier

test(surface): seventeen holes in the adapter contract, named and refused
  policy/surface-adapter-v1.schema.json
  tests/fixtures/surface-adapter-v1.json
  tests/test_surface_adapter.py
Due: prettier

feat(surface): three states, three receipts, and one that speaks for nothing else
  src/ai_engineering/contract.py
  src/ai_engineering/surface.py
  tests/test_contracts.py
  tests/test_surface_adapter.py
Due: none

docs(spec-011): swap two tasks the code proved were out of order
  specs/011-surface-adapter-contract/plan.md
Due: prettier

feat(doctor): print the three questions separately, and answer each from its own receipt
  src/ai_engineering/doctor.py
  tests/test_cli_migration.py
  tests/test_surface_adapter.py
Due: none

feat(report): answer the surface question without adding an eleventh verb
  specs/011-surface-adapter-contract/plan.md
  src/ai_engineering/report.py
  tests/test_surface_adapter.py
Due: prettier

feat(doctor): the coverage word is earned from a receipt, never declared
  specs/011-surface-adapter-contract/plan.md
  src/ai_engineering/doctor.py
  tests/test_doctor.py
  tests/test_mut_wiring.py
  tests/test_surface_adapter.py
Due: prettier

feat(policy): delete the proven flag, and leave no way to say it
  policy/surfaces.toml
  tests/stats.py
  tests/test_surface_adapter.py
Due: none

fix(surface): a file somebody typed is not a receipt
  AGENTS.md
  CHANGELOG.md
  README.md
  policy/surface-adapter-v1.schema.json
  specs/011-surface-adapter-contract/spec.md
  src/ai_engineering/doctor.py
  src/ai_engineering/surface.py
  tests/fixtures/surface-adapter-v1.json
  tests/test_cli_migration.py
  tests/test_doctor.py
  tests/test_mut_wiring.py
  tests/test_readiness.py
  tests/test_surface_adapter.py
Due: prettier

fix(surface): let the schema decide what a receipt is, and stop claiming what CI does not do
  CHANGELOG.md
  README.md
  src/ai_engineering/doctor.py
  src/ai_engineering/surface.py
  tests/test_surface_adapter.py
Due: prettier

docs(spec-011): defer the adapter record, and restore the block an amendment ate
  specs/011-surface-adapter-contract/plan.md
Due: prettier

ci(install): the denial that already runs now writes its own receipt
  .github/workflows/install-matrix.yml
  tests/test_surface_adapter.py
Due: prettier

ci(install): prove the two states nobody can execute stay unproven
  .github/workflows/install-matrix.yml
  tests/test_surface_adapter.py
Due: prettier

fix(install): the assertions were unreachable code on every runner
  .github/workflows/install-matrix.yml
  specs/011-surface-adapter-contract/plan.md
  tests/test_surface_adapter.py
Due: prettier

fix(install): the repair to the blocker was the blocker, one line lower
  .github/workflows/install-matrix.yml
  tests/test_surface_adapter.py
Due: prettier

fix(opencode): the plugin denies when it cannot run its own guard
  specs/011-surface-adapter-contract/plan.md
  surfaces/opencode.ts
  tests/test_opencode_plugin.py
Due: eslint, prettier

build(typecheck): run the plugin's deny path, and make a silent skip fail
  justfile
  specs/011-surface-adapter-contract/plan.md
  tests/test_opencode_plugin.py
Due: prettier

fix(opencode): the fail-open was still open, and the measurement that narrowed it was mine
  specs/011-surface-adapter-contract/plan.md
  src/ai_engineering/wiring.py
  surfaces/opencode.ts
  tests/test_opencode_plugin.py
Due: eslint, prettier

fix(wiring): one definition of the plugin, because three of them silently disagreed
  src/ai_engineering/uninstall.py
  src/ai_engineering/wiring.py
Due: none

fix(record): the anchor hook wrote the verdict into the commit message
  git-hooks/commit-msg
  tests/test_record.py
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
