Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Generated by ai-engineering â€” Git hooks via Lefthook

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner
    eslint:
      glob: "*.{ts,tsx,js,jsx}"
      run: npx eslint {staged_files}
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}"
      run: npx prettier --check {staged_files}

commit-msg:
  commands:
    conventional:
      run: |
        MSG=$(cat {1})
        if echo "$MSG" | grep -qE "^Merge |^Revert "; then exit 0; fi
        if ! echo "$MSG" | head -1 | grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([a-zA-Z0-9_-]+\))?: .{1,}'; then
          echo "Commit message must follow Conventional Commits: <type>(<scope>): <description>"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    branch-protection:
      run: |
        BRANCH=$(git branch --show-current)
        if [ "$BRANCH" = "main" ]; then echo "Direct push to main blocked. Use a PR."; exit 1; fi
        if [ "$BRANCH" = "develop" ]; then echo "Direct push to develop blocked. Use a PR."; exit 1; fi
    lint:
      run: npx eslint .
    typecheck:
      run: npx tsc --noEmit
    test:
      run: npm test
    build:
      run: npm run build
    npm-audit:
      run: npm audit --audit-level=high
    gitleaks-branch:
      run: gitleaks detect --source . --log-opts "$(git merge-base HEAD origin/main)..HEAD" --no-banner
    semgrep:
      run: semgrep --config=auto --error .

fix(git-worktree-flow): an exit code is not a result
  .ai-engineering/workflow/reviews/git-worktree-flow-5.md
  skills/ai-pr/SKILL.md
Due: prettier

chore(git-worktree-flow): checkpoint 5 review passed
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
Due: prettier

docs(git-worktree-flow): the documents now describe the flow the tooling implements
  .ai-engineering/PRD.html
  .ai-engineering/brainstorm.html
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  .changeset/git-worktree-flow.md
  CONTRIBUTING.md
  README.md
  docs/blueprint.html
Due: prettier

docs(git-worktree-flow): a count or a path written in prose is a cache
  .ai-engineering/brainstorm.html
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  README.md
  docs/blueprint.html
Due: prettier

docs(git-worktree-flow): a shared-ownership claim keeps both halves
  .ai-engineering/PRD.html
  .ai-engineering/brainstorm.html
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  docs/blueprint.html
Due: prettier

docs(git-worktree-flow): re-derive the count, state both halves
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  AGENTS.md
  docs/blueprint.html
  templates/AGENTS.md.tpl
Due: prettier

docs(git-worktree-flow): sweep the class, do not patch the instance
  .ai-engineering/brainstorm.html
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  docs/blueprint.html
Due: prettier

docs(git-worktree-flow): every claim re-derived from the thing that holds it
  .ai-engineering/brainstorm.html
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  docs/blueprint.html
  src/cli.ts
Due: eslint, prettier

docs(git-worktree-flow): drop a number that cannot stay true
  .ai-engineering/brainstorm.html
  .ai-engineering/workflow/reviews/git-worktree-flow-6.md
  README.md
  docs/blueprint.html
Due: prettier

chore(git-worktree-flow): checkpoint 6 review passed
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
Due: prettier

feat(git-worktree-flow): two helpers take the best habit of each outside piece
  .ai-engineering/workflow/reviews/git-worktree-flow-7.md
  skills/ai-audit-code/SKILL.md
  skills/ai-security/SKILL.md
Due: prettier

fix(git-worktree-flow): an appendix cites the host rule, it does not restate it harder
  .ai-engineering/workflow/reviews/git-worktree-flow-7.md
  skills/ai-audit-code/SKILL.md
  skills/ai-security/SKILL.md
Due: prettier

fix(git-worktree-flow): the headline carries its own scope
  .ai-engineering/workflow/reviews/git-worktree-flow-7.md
  skills/ai-security/SKILL.md
Due: prettier

fix(git-worktree-flow): a file bound only by a path proves itself by search
  .ai-engineering/workflow/reviews/git-worktree-flow-7.md
  skills/ai-audit-code/SKILL.md
Due: prettier

chore(git-worktree-flow): checkpoint 7 review passed
  .ai-engineering/workflow/checkpoints/git-worktree-flow.json
  .ai-engineering/workflow/reviews/git-worktree-flow-7.md
  skills/ai-audit-code/SKILL.md
Due: prettier

docs(changelog): record the git worktree flow
  CHANGELOG.md
Due: prettier

docs(learnings): log the worktree-flow lessons
  LEARNINGS.md
Due: prettier

docs(git-worktree-flow): the page the merge is approved from
  .ai-engineering/recap.html
Due: none

feat(ai-github-triage): one page for the backlog
  .ai-engineering/triage.html
  CHANGELOG.md
  README.md
  skills/ai-brainstorm/references/artifact-design.md
  skills/ai-github-triage/SKILL.md
  src/assets.ts
  templates/brainstorm.html.tpl
  templates/research.html.tpl
  templates/triage.html.tpl
  tests/artifact-layout.spec.ts
  tests/artifact-scroll-spy.spec.ts
Due: eslint, prettier

docs(ai-github-triage): a changeset for the skill
  .changeset/ai-github-triage.md
Due: prettier

fix(review): apply the PR review findings and unblock the security gate
  .ai-engineering/triage.html
  AGENTS.md
  bun.lock
  package.json
  skills/ai-brainstorm/references/artifact-design.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-github-triage/SKILL.md
  skills/ai-orchestrator/SKILL.md
  skills/ai-pr/SKILL.md
  src/commands/doctor.ts
  src/commands/worktree.ts
  src/receipts.ts
  src/shared-worktree.ts
  templates/AGENTS.md.tpl
  templates/triage.html.tpl
Due: eslint, prettier

fix(review): coverage gate and the root-scoped receipts scan
  sonar-project.properties
  src/commands/briefing.ts
  src/receipts.ts
  src/shared-worktree.ts
  tests/receipts-summary.spec.ts
Due: eslint, prettier

ci: worktree.ts joins the subprocess coverage exclusion
  sonar-project.properties
Due: none

fix(briefing): an ungoverned root reads no foreign receipt store
  src/commands/briefing.ts
  src/receipts.ts
Due: eslint, prettier

fix(ai-git-cleanup): the pass learns what a squash merge looks like
  skills/ai-git-cleanup/SKILL.md
Due: prettier

chore(release): add the two pending changesets
  .changeset/briefing-ungoverned-root.md
  .changeset/git-cleanup-squash-merged.md
Due: prettier

test(cleanup): pin the one earned force-delete
  tests/git-cleanup-pass.spec.ts
Due: eslint, prettier

refactor(receipts): extract the per-receipt fold
  src/receipts.ts
Due: eslint, prettier

docs: rebuild the README as the v2.6.0 front door
  .github/assets/chain.gif
  .github/assets/doctor.png
  .github/assets/guard-flow-dark.svg
  .github/assets/guard-flow-light.svg
  .github/assets/quickstart.gif
  .github/assets/skill-chain-dark.svg
  .github/assets/skill-chain-light.svg
  .github/assets/tapes/chain.tape
  .github/assets/tapes/demo/payload-bash-commit.json
  .github/assets/tapes/demo/payload-bash-test.json
  .github/assets/tapes/demo/payload-edit-silence.json
  .github/assets/tapes/quickstart.tape
  README.md
  scripts/readme-diagrams.ts
Due: eslint, prettier

docs: redraw the skills chain as the site's five phases
  .github/assets/skill-chain-dark.svg
  .github/assets/skill-chain-light.svg
  README.md
  scripts/readme-diagrams.ts
Due: eslint, prettier

docs(video): add the 1m42 narrated tour as a HyperFrames project
  .github/assets/video/.gitignore
  .github/assets/video/AGENTS.md
  .github/assets/video/CLAUDE.md
  .github/assets/video/assets/chain.gif
  .github/assets/video/assets/doctor.png
  .github/assets/video/assets/guard-flow-dark.svg
  .github/assets/video/assets/guard-flow-light.svg
  .github/assets/video/assets/hero.jpg
  .github/assets/video/assets/quickstart.gif
  .github/assets/video/assets/skill-chain-dark.svg
  .github/assets/video/assets/skill-chain-light.svg
  .github/assets/video/audio/s1.mp3
  .github/assets/video/audio/s2.mp3
  .github/assets/video/audio/s3.mp3
  .github/assets/video/audio/s4.mp3
  .github/assets/video/audio/s5.mp3
  .github/assets/video/audio/s6.mp3
  .github/assets/video/audio/s7.mp3
  .github/assets/video/audio/s8.mp3
  .github/assets/video/hyperframes.json
  .github/assets/video/index.html
  .github/assets/video/meta.json
  .github/assets/video/narration.md
  .github/assets/video/package.json
Due: prettier

docs: the loop is the framework, the rest is optional
  .github/assets/skill-chain-dark.svg
  .github/assets/skill-chain-light.svg
  .github/assets/video/audio/s6.mp3
  .github/assets/video/audio/s7.mp3
  .github/assets/video/index.html
  .github/assets/video/narration.md
  README.md
  scripts/readme-diagrams.ts
Due: eslint, prettier

docs: a real contributors section, not a broken badge
  README.md
Due: prettier

chore: keep the video project out of this pull request
  .github/assets/video/.gitignore
  .github/assets/video/AGENTS.md
  .github/assets/video/CLAUDE.md
  .github/assets/video/assets/chain.gif
  .github/assets/video/assets/doctor.png
  .github/assets/video/assets/guard-flow-dark.svg
  .github/assets/video/assets/guard-flow-light.svg
  .github/assets/video/assets/hero.jpg
  .github/assets/video/assets/quickstart.gif
  .github/assets/video/assets/skill-chain-dark.svg
  .github/assets/video/assets/skill-chain-light.svg
  .github/assets/video/audio/s1.mp3
  .github/assets/video/audio/s2.mp3
  .github/assets/video/audio/s3.mp3
  .github/assets/video/audio/s4.mp3
  .github/assets/video/audio/s5.mp3
  .github/assets/video/audio/s6.mp3
  .github/assets/video/audio/s7.mp3
  .github/assets/video/audio/s8.mp3
  .github/assets/video/hyperframes.json
  .github/assets/video/index.html
  .github/assets/video/meta.json
  .github/assets/video/narration.md
  .github/assets/video/package.json
Due: prettier

docs: rebuild the README around the orchestrator loop (#745)
  .github/assets/chain.gif
  .github/assets/doctor.png
  .github/assets/guard-flow-dark.svg
  .github/assets/guard-flow-light.svg
  .github/assets/quickstart.gif
  .github/assets/skill-chain-dark.svg
  .github/assets/skill-chain-light.svg
  .github/assets/tapes/chain.tape
  .github/assets/tapes/demo/payload-bash-commit.json
  .github/assets/tapes/demo/payload-bash-test.json
  .github/assets/tapes/demo/payload-edit-silence.json
  .github/assets/tapes/quickstart.tape
  README.md
  scripts/readme-diagrams.ts
Due: eslint, prettier
