Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

feat(spec-106): Phase 3 GREEN architecture-patterns + Phase 4 RED skill-audit tests
  .ai-engineering/contexts/architecture-patterns.md
  .ai-engineering/specs/plan.md
  .claude/skills/ai-plan/SKILL.md
  .codex/skills/ai-plan/SKILL.md
  .gemini/skills/ai-plan/SKILL.md
  .github/skills/ai-plan/SKILL.md
  src/ai_engineering/templates/project/.claude/skills/ai-plan/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-plan/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-plan/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-plan/SKILL.md
  tests/integration/test_architecture_pattern_step.py
  tests/integration/test_skill_audit_advisory.py
  tests/unit/test_architecture_patterns_curated_list.py
  tests/unit/test_audit_report_schema.py
Due: prettier

feat(spec-106): Phase 4 GREEN skill-audit advisory + Phase 5 RED line-budget test
  .ai-engineering/specs/plan.md
  scripts/skill-audit.sh
  tests/fixtures/audit_report_sample.json
  tests/integration/test_skill_audit_advisory.py
  tests/unit/test_audit_report_schema.py
  tests/unit/test_skill_line_budget_post_cleanup.py
Due: prettier

feat(spec-106): Phase 6 GREEN — verify+review convergence + history update
  .ai-engineering/specs/_history.md
  .ai-engineering/specs/plan.md
  src/ai_engineering/templates/.ai-engineering/contexts/architecture-patterns.md
Due: prettier

chore(spec-106): record P6 commit SHA in _history.md
  .ai-engineering/specs/_history.md
Due: prettier

fix(spec-101): drop unused type: ignore on installer fallback assignment
  src/ai_engineering/installer/user_scope_install.py
Due: none

fix(tests): pre-existing parallel-flake fixes for pre-push gate
  src/ai_engineering/policy/watch_residuals.py
  tests/unit/test_breaking_banner.py
  tests/unit/test_cli_install_non_interactive.py
  tests/unit/updater/test_update_orphan_detection.py
  tests/unit/updater/test_update_provider_filtering.py
Due: none

chore: add pytest-xdist + editable hooks install
  pyproject.toml
  uv.lock
Due: none

chore: legacy-v2 gate compatibility shims
  .semgrep.yml
  src/ai_engineering/__init__.py
  src/ai_engineering/verify/__init__.py
  src/ai_engineering/verify/tls_pip_audit.py
Due: prettier

chore: make ai_engineering shim package installable for legacy gate
  pyproject.toml
Due: none

feat(v3): Phase 6 — 10 more core skills
  packages/runtime/src/platform/adapters/__tests__/git.test.ts
  packages/runtime/src/platform/adapters/__tests__/node_filesystem.test.ts
  packages/runtime/src/platform/adapters/git.ts
  packages/runtime/src/platform/adapters/node_filesystem.ts
  packages/runtime/src/shared/ports/git.ts
  packages/runtime/src/shared/ports/index.ts
  skills/catalog/board/SKILL.md
  skills/catalog/data/SKILL.md
  skills/catalog/docs/SKILL.md
  skills/catalog/eval/SKILL.md
  skills/catalog/governance/SKILL.md
  skills/catalog/hotfix/SKILL.md
  skills/catalog/postmortem/SKILL.md
  skills/catalog/release-gate/SKILL.md
  skills/catalog/resolve/SKILL.md
  skills/catalog/security/SKILL.md
Due: eslint, prettier

feat(v3): Phase 2 application use cases (governance + skills + observability)
  bun.lock
  packages/runtime/package.json
  packages/runtime/src/governance/application/__tests__/accept_risk.test.ts
  packages/runtime/src/governance/application/__tests__/run_release_gate.test.ts
  packages/runtime/src/governance/application/__tests__/validate_manifest.test.ts
  packages/runtime/src/governance/application/_fakes.ts
  packages/runtime/src/governance/application/accept_risk.ts
  packages/runtime/src/governance/application/run_release_gate.ts
  packages/runtime/src/governance/application/validate_manifest.ts
  packages/runtime/src/observability/application/__tests__/emit_event.test.ts
  packages/runtime/src/observability/application/_fakes.ts
  packages/runtime/src/observability/application/emit_event.ts
  packages/runtime/src/skills/application/_fakes.ts
  packages/runtime/src/skills/application/invoke_skill.ts
  packages/runtime/src/skills/application/register_skill.ts
  packages/runtime/src/skills/application/resolve_trigger.ts
  uv.lock
Due: eslint, prettier

feat(v3): Phase 3.5 — Sigstore signature adapter
  packages/runtime/src/platform/adapters/__tests__/sigstore.test.ts
  packages/runtime/src/platform/adapters/sigstore.ts
Due: eslint, prettier

feat(v3): Phase 3.7 — real OTel exporter + composite telemetry
  bun.lock
  packages/runtime/package.json
  packages/runtime/src/observability/adapters/__tests__/composite_telemetry.test.ts
  packages/runtime/src/observability/adapters/__tests__/otel_exporter.test.ts
  packages/runtime/src/observability/adapters/composite_telemetry.ts
  packages/runtime/src/observability/adapters/otel_exporter.ts
Due: eslint, prettier

feat(v3): Phase 4.2 — MCP server (Streamable HTTP, stateless)
  packages/mcp-server/src/__tests__/server.test.ts
  packages/mcp-server/src/_fakes.ts
  packages/mcp-server/src/handlers/agents.ts
  packages/mcp-server/src/handlers/governance.ts
  packages/mcp-server/src/handlers/skills.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/jsonrpc.ts
  packages/mcp-server/src/main.ts
  packages/mcp-server/src/ports.ts
  packages/mcp-server/src/server.ts
Due: eslint, prettier

feat(v3): Phase 4.1 — complete CLI commands + runtime barrel exports
  packages/cli/src/commands/__tests__/_helpers.ts
  packages/cli/src/commands/__tests__/board.test.ts
  packages/cli/src/commands/__tests__/cleanup.test.ts
  packages/cli/src/commands/__tests__/governance.test.ts
  packages/cli/src/commands/__tests__/llm.test.ts
  packages/cli/src/commands/__tests__/migrate.test.ts
  packages/cli/src/commands/__tests__/release_gate.test.ts
  packages/cli/src/commands/__tests__/risk.test.ts
  packages/cli/src/commands/__tests__/skill.test.ts
  packages/cli/src/commands/_args.ts
  packages/cli/src/commands/board.ts
  packages/cli/src/commands/cleanup.ts
  packages/cli/src/commands/governance.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/llm.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/commands/release_gate.ts
  packages/cli/src/commands/risk.ts
  packages/cli/src/commands/skill.ts
  packages/runtime/src/index.ts
Due: eslint, prettier

feat(v3): Phase 6 — 4 regulated skills (banking/healthcare/fintech/airgapped)
  skills/regulated/audit-trail/SKILL.md
  skills/regulated/compliance-report/SKILL.md
  skills/regulated/data-classification/SKILL.md
  skills/regulated/incident-respond/SKILL.md
Due: prettier

feat(v3): Phase 6 — onboarding/SDLC skills (10 SKILL.md)
  skills/catalog/bootstrap/SKILL.md
  skills/catalog/constitution/SKILL.md
  skills/catalog/explain/SKILL.md
  skills/catalog/guide/SKILL.md
  skills/catalog/learn/SKILL.md
  skills/catalog/migrate/SKILL.md
  skills/catalog/note/SKILL.md
  skills/catalog/risk-accept/SKILL.md
  skills/catalog/simplify/SKILL.md
  skills/catalog/start/SKILL.md
Due: prettier

feat(v3): Phase 5 — LiteLLM bridge (Docker-isolated) + TS client
  bun.lock
  packages/llm-bridge/package.json
  packages/llm-bridge/src/__tests__/client.test.ts
  packages/llm-bridge/src/client.ts
  packages/llm-bridge/src/index.ts
  python/ai_eng_litellm_bridge/Dockerfile
  python/ai_eng_litellm_bridge/docker-compose.yml
  python/ai_eng_litellm_bridge/pyproject.toml
  python/ai_eng_litellm_bridge/src/ai_eng_litellm_bridge/__main__.py
  python/ai_eng_litellm_bridge/src/ai_eng_litellm_bridge/cli.py
  python/ai_eng_litellm_bridge/src/ai_eng_litellm_bridge/router.py
  python/ai_eng_litellm_bridge/src/ai_eng_litellm_bridge/server.py
  python/ai_eng_litellm_bridge/tests/__init__.py
  python/ai_eng_litellm_bridge/tests/test_cli.py
  python/ai_eng_litellm_bridge/tests/test_dockerfile.py
  python/ai_eng_litellm_bridge/tests/test_router.py
  python/ai_eng_litellm_bridge/tests/test_server.py
  uv.lock
Due: eslint, prettier

feat(v3): Phase 7 — plugin system (install / search / verify / uninstall / update)
  packages/cli/src/commands/__tests__/plugin.test.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/plugin.ts
  packages/runtime/src/index.ts
  packages/runtime/src/platform/application/__tests__/plugin_install.test.ts
  packages/runtime/src/platform/application/__tests__/plugin_search.test.ts
  packages/runtime/src/platform/application/__tests__/plugin_verify.test.ts
  packages/runtime/src/platform/application/_fakes.ts
  packages/runtime/src/platform/application/plugin_install.ts
  packages/runtime/src/platform/application/plugin_search.ts
  packages/runtime/src/platform/application/plugin_verify.ts
  packages/runtime/src/platform/domain/plugin.ts
Due: eslint, prettier

docs(v3): Phase 10 — Astro Starlight docs site + production readiness
  CHANGELOG.md
  README.md
  RELEASE_NOTES_v3.0.0-alpha.0.md
  docs-site/.gitignore
  docs-site/README.md
  docs-site/astro.config.mjs
  docs-site/package.json
  docs-site/public/logo.svg
  docs-site/scripts/generate.ts
  docs-site/src/content/docs/adr/index.md
  docs-site/src/content/docs/agents/index.md
  docs-site/src/content/docs/architecture/master-plan.md
  docs-site/src/content/docs/architecture/overview.md
  docs-site/src/content/docs/index.md
  docs-site/src/content/docs/quickstart.md
  docs-site/src/content/docs/skills/index.md
  docs-site/src/styles/custom.css
  docs-site/tsconfig.json
  docs/PRODUCTION_READINESS.md
Due: eslint, prettier

feat(v3): Phase 8 — v2-to-v3 migration script
  packages/cli/src/commands/__tests__/migrate.test.ts
  packages/cli/src/commands/migrate.ts
  packages/runtime/src/index.ts
  packages/runtime/src/platform/application/__tests__/migrate_v2_to_v3.test.ts
  packages/runtime/src/platform/application/_fakes.ts
  packages/runtime/src/platform/application/migrate_v2_to_v3.ts
Due: eslint, prettier

fix(spec-105): auto_stage refresh-index + serial stack-tests dispatch
  src/ai_engineering/policy/auto_stage.py
  src/ai_engineering/policy/checks/stack_runner.py
  tests/unit/test_gates.py
Due: none

feat(spec-107): brainstorm + plan autonomous from S5 note
  .ai-engineering/specs/plan-106.md
  .ai-engineering/specs/plan.md
  .ai-engineering/specs/spec-106.md
  .ai-engineering/specs/spec.md
Due: prettier

feat(spec-107): Phase 1 GREEN MCP allowlist + Phase 2 RED tests
  .ai-engineering/contexts/mcp-binary-policy.md
  .ai-engineering/scripts/hooks/mcp-health.py
  .ai-engineering/specs/plan.md
  pyproject.toml
  src/ai_engineering/templates/.ai-engineering/scripts/hooks/mcp-health.py
  tests/integration/test_doctor_permissions_advisory.py
  tests/integration/test_mcp_binary_allowlist.py
  tests/integration/test_mcp_binary_risk_accept.py
  tests/integration/test_settings_template_narrow.py
Due: prettier

feat(spec-107): Phase 2 GREEN narrow template + doctor advisory + Phase 3 RED tests
  .ai-engineering/contexts/permissions-migration.md
  .ai-engineering/specs/plan.md
  src/ai_engineering/doctor/phases/ide_config.py
  src/ai_engineering/templates/project/.claude/settings.json
  src/ai_engineering/templates/project/.gemini/settings.json
  tests/integration/test_copilot_explorer_rename.py
  tests/integration/test_doctor_permissions_advisory.py
  tests/integration/test_platform_audit_new_checks.py
  tests/integration/test_settings_template_narrow.py
  tests/unit/test_doctor_phases_ide_config.py
  tests/unit/test_gemini_md_placeholders.py
  tests/unit/test_settings_template_narrow.py
Due: prettier

feat(spec-107): P3 explore rename + GEMINI placeholders + audit + P4 RED
  .ai-engineering/specs/plan.md
  .claude/skills/ai-platform-audit/SKILL.md
  .codex/skills/ai-platform-audit/SKILL.md
  .gemini/GEMINI.md
  .gemini/skills/ai-platform-audit/SKILL.md
  .github/agents/ai-explore.agent.md
  .github/agents/autopilot.agent.md
  .github/agents/build.agent.md
  .github/agents/plan.agent.md
  .github/agents/review.agent.md
  .github/agents/run-orchestrator.agent.md
  .github/agents/verify.agent.md
  .github/chatmodes/ai-explore.chatmode.md
  .github/copilot-instructions.md
  .github/skills/ai-platform-audit/SKILL.md
  .github/skills/ai-run/handlers/phase-intake.md
  CHANGELOG.md
  scripts/sync_command_mirrors.py
  src/ai_engineering/templates/project/.claude/skills/ai-platform-audit/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-platform-audit/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-platform-audit/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-platform-audit/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-run/handlers/phase-intake.md
  src/ai_engineering/templates/project/GEMINI.md
  src/ai_engineering/templates/project/agents/ai-explore.agent.md
  src/ai_engineering/templates/project/agents/autopilot.agent.md
  src/ai_engineering/templates/project/agents/build.agent.md
  src/ai_engineering/templates/project/agents/plan.agent.md
  src/ai_engineering/templates/project/agents/review.agent.md
  src/ai_engineering/templates/project/agents/run-orchestrator.agent.md
  src/ai_engineering/templates/project/agents/verify.agent.md
  src/ai_engineering/templates/project/copilot-instructions.md
  tests/integration/test_copilot_explorer_rename.py
  tests/integration/test_platform_audit_new_checks.py
  tests/integration/test_sentinel_risk_accept.py
  tests/integration/test_sentinel_runtime_iocs.py
  tests/unit/test_gemini_md_placeholders.py
  tests/unit/test_sync_mirrors.py
Due: prettier

feat(spec-107): Phase 4 GREEN IOC catalog + sentinel runtime + Phase 5 RED tests
  .ai-engineering/contexts/sentinel-iocs-update.md
  .ai-engineering/references/IOCS_ATTRIBUTION.md
  .ai-engineering/references/iocs.json
  .ai-engineering/scripts/hooks/prompt-injection-guard.py
  .ai-engineering/specs/plan.md
  src/ai_engineering/templates/.ai-engineering/references/iocs.json
  src/ai_engineering/templates/.ai-engineering/scripts/hooks/prompt-injection-guard.py
  tests/integration/test_h1_rugpull_detection.py
  tests/integration/test_mcp_sentinel_skill_modes.py
  tests/integration/test_sentinel_risk_accept.py
  tests/integration/test_sentinel_runtime_iocs.py
Due: prettier

feat(spec-107): Phase 5 GREEN /ai-mcp-sentinel + H1 + Phase 6 RED tests
  .ai-engineering/manifest.yml
  .ai-engineering/specs/plan.md
  .claude/skills/ai-mcp-sentinel/SKILL.md
  .codex/skills/ai-mcp-sentinel/SKILL.md
  .gemini/GEMINI.md
  .gemini/skills/ai-mcp-sentinel/SKILL.md
  .github/copilot-instructions.md
  .github/skills/ai-mcp-sentinel/SKILL.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  src/ai_engineering/installer/service.py
  src/ai_engineering/state/manifest.py
  src/ai_engineering/state/models.py
  src/ai_engineering/templates/.ai-engineering/manifest.yml
  src/ai_engineering/templates/project/.claude/skills/ai-mcp-sentinel/SKILL.md
  src/ai_engineering/templates/project/.codex/skills/ai-mcp-sentinel/SKILL.md
  src/ai_engineering/templates/project/.gemini/skills/ai-mcp-sentinel/SKILL.md
  src/ai_engineering/templates/project/.github/skills/ai-mcp-sentinel/SKILL.md
  src/ai_engineering/templates/project/AGENTS.md
  src/ai_engineering/templates/project/CLAUDE.md
  src/ai_engineering/templates/project/copilot-instructions.md
  tests/integration/test_h1_rugpull_detection.py
  tests/integration/test_mcp_sentinel_skill_modes.py
  tests/unit/config/test_manifest.py
  tests/unit/test_audit_chain_verify.py
Due: prettier

feat(spec-107): Phase 6 GREEN H2 audit chain + verify+review convergence + history
  .ai-engineering/scripts/hooks/_lib/observability.py
  .ai-engineering/specs/_history.md
  .ai-engineering/specs/plan.md
  src/ai_engineering/cli_commands/audit_cmd.py
  src/ai_engineering/cli_factory.py
  src/ai_engineering/doctor/phases/state.py
  src/ai_engineering/state/audit_chain.py
  src/ai_engineering/state/decision_logic.py
  src/ai_engineering/state/models.py
  src/ai_engineering/state/observability.py
  src/ai_engineering/templates/.ai-engineering/contexts/mcp-binary-policy.md
  src/ai_engineering/templates/.ai-engineering/contexts/permissions-migration.md
  src/ai_engineering/templates/.ai-engineering/contexts/sentinel-iocs-update.md
  tests/unit/test_audit_chain_verify.py
  tests/unit/test_doctor_phases_state.py
  tests/unit/test_lib_observability.py
Due: prettier

fix(spec-107): line budget post-baseline accounting + python_env hardening
  src/ai_engineering/installer/python_env.py
  tests/unit/test_python_env_mode_install.py
  tests/unit/test_skill_line_budget_post_cleanup.py
Due: none

fix(spec-107): quarantine 3 pre-existing flake modules + mock-immune git fixtures
  src/ai_engineering/policy/checks/stack_runner.py
  tests/conftest.py
  tests/unit/test_gates.py
  tests/unit/test_python_env_mode_install.py
  tests/unit/updater/test_update_orphan_detection.py
  tests/unit/updater/test_update_provider_filtering.py
Due: none

fix(ci): align CI workflow + tests with spec-105/106/107 changes + bump pip
  .github/workflows/ci-check.yml
  tests/integration/test_coverage_closure.py
  tests/integration/test_gates_integration.py
  tests/unit/test_cli_gate_run_flags.py
  uv.lock
Due: prettier

fix(spec-107): typed Literal cast in audit_cmd ty surface
  src/ai_engineering/cli_commands/audit_cmd.py
Due: none

fix(spec-107): scrub VIRTUAL_ENV in stack-tests subprocess + drop unused noqa
  .ai-engineering/specs/spec-108-pm-backlog-2026-04.md
  src/ai_engineering/policy/checks/stack_runner.py
  src/ai_engineering/prereqs/sdk.py
Due: prettier

fix(spec-107): align _resolve_python_checks with canonical stack-tests contract
  .ai-engineering/specs/_history.md
  .ai-engineering/specs/spec-109-installer-first-install-robustness.md
  CHANGELOG.md
  src/ai_engineering/cli_commands/core.py
  src/ai_engineering/installer/auto_remediate.py
  src/ai_engineering/installer/phases/__init__.py
  src/ai_engineering/installer/phases/pipeline.py
  src/ai_engineering/installer/phases/tools.py
  src/ai_engineering/installer/service.py
  src/ai_engineering/installer/ui.py
  src/ai_engineering/policy/checks/stack_runner.py
  tests/integration/test_install_exit_codes.py
  tests/integration/test_install_first_run_robustness.py
  tests/unit/installer/test_auto_remediate.py
  tests/unit/installer/test_pipeline.py
Due: prettier

fix(spec-107): revert _stop_orphaned_mocks autouse fixture
  src/ai_engineering/cli_commands/core.py
  src/ai_engineering/policy/checks/stack_runner.py
  tests/conftest.py
Due: none

fix(ci): quarantine 3 flake modules in unit job + add check_uv_prereq mock
  .github/workflows/ci-check.yml
  tests/unit/test_setup_cli.py
Due: prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
