Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

chore(ai-eng): assets → 2.3.0
  .ai-engineering/ai-eng.lock
Due: none

fix(floor): add GITLEAKS_CONFIG env var to pre-push shim
  templates/git-pre-push.tpl
Due: none

fix(tests): simplify musl detection to fix typecheck
  tests/launcher.spec.ts
Due: eslint, prettier

fix(security): exclude chain/mod.ts false-positive ReDoS from Snyk
  .snyk
  src/chain/mod.ts
Due: eslint, prettier

fix(spec): G20 uses exit code instead of grep parsing
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

fix(spec): update lock sha256 with normalized spec hash
  .ai-engineering/ai-eng.lock
Due: none

fix(spec): G20 captures exit code for CI diagnosis
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
Due: none

chore: add changeset for minor release
  .changeset/skill-fixes.md
Due: prettier

ci: fix G20, Sonar, Windows package
  .github/workflows/check.yml
  scripts/build-platform-package.ts
  sonar-project.properties
  src/commands/briefing.ts
  tests/briefing-command.spec.ts
  tests/build-platform-package.spec.ts
  tests/local-rules.spec.ts
  tests/spec-command.spec.ts
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

fix(spec): align G20 echo with EXPECT
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
  src/commands/briefing.ts
Due: eslint, prettier

chore(spec): restore G18 evidence text
  .ai-engineering/spec.html
Due: none

ci: fix failing G20, Sonar, and Windows package gates (#731)
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
  .github/workflows/check.yml
  scripts/build-platform-package.ts
  sonar-project.properties
  src/commands/briefing.ts
  tests/briefing-command.spec.ts
  tests/build-platform-package.spec.ts
  tests/local-rules.spec.ts
  tests/spec-command.spec.ts
  tests/spec-lifecycle.test.ts
Due: eslint, prettier

chore: move .playwright under .ai-engineering
  .ai-engineering/research/011-shopify-workflow-en-ai-engineering.html
  .gitignore
  FILEMAP.md
  agents/ui-behavior-reviewer.md
  agents/ui-visual-reviewer.md
  skills/ai-orchestrator/SKILL.md
  skills/ai-prototype/SKILL.md
  skills/ai-review-ui/SKILL.md
  skills/ai-review-ui/capture.cjs
  skills/ai-test-planner/SKILL.md
  templates/FILEMAP.md.tpl
Due: prettier

fix: ci
  .ai-engineering/workflow/checkpoints/viewer.html
  .ai-engineering/workflow/prototypes/workflow-kit-viewer.html
  templates/plugin.omp.ts.tpl
  templates/plugin.opencode.ts.tpl
  templates/plugin.pi.ts.tpl
  templates/viewer.html.tpl
  tests/carriers-install.spec.ts
  tests/doctor-command.spec.ts
  tests/init-command.spec.ts
  tests/surfaces.test.ts
  tests/uninstall-command.spec.ts
Due: eslint, prettier

fix: ci
  .github/workflows/check.yml
  src/commands/adapt.ts
Due: eslint, prettier

fix: ci
  src/floor/index.ts
  stryker.conf.mjs
  tests/chain-dispatch.spec.ts
  tests/floor-gates.spec.ts
  tests/local-rules.spec.ts
  tests/spoken-secret.spec.ts
Due: eslint, prettier

test: pin tty env and cover main push block
  bunfig.toml
  tests/floor-hooks.spec.ts
  tests/preload.ts
Due: eslint, prettier

test: pin tty env and cover main push block (#733)
  bunfig.toml
  tests/floor-hooks.spec.ts
  tests/preload.ts
Due: eslint, prettier

chore(ai-git-cleanup): checkpoints, test plan
  .ai-engineering/workflow/checkpoints/ai-git-cleanup.json
  .ai-engineering/workflow/test-plans/ai-git-cleanup.json
Due: prettier

test(ai-git-cleanup/1): failing tests for analyzer script
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
Due: eslint, prettier

feat(ai-git-cleanup/1): analyzer script and skill files
  NOTICE.md
  THIRD-PARTY-NOTICES.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/references/merge-evidence.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  src/assets.ts
Due: eslint, prettier

chore(ai-git-cleanup/1): behavior gate failed (attempt 1)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup.json
  LEARNINGS.md
Due: prettier

fix(ai-git-cleanup/1): fixture checked out branch in main worktree
  tests/git-cleanup-analyze.spec.ts
Due: eslint, prettier

fix(ai-git-cleanup/1): adversarial round 1
  .ai-engineering/workflow/reviews/ai-git-cleanup-1.md
  LEARNINGS.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  tests/git-cleanup-analyze.spec.ts
Due: eslint, prettier

chore(ai-git-cleanup/1): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup.json
Due: prettier

test(ai-git-cleanup/2): flow spec for command-plan invariants
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

feat(ai-git-cleanup/2): changelog, changeset, skill doc sync
  .changeset/ai-git-cleanup.md
  CHANGELOG.md
  skills/ai-git-cleanup/SKILL.md
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

chore(ai-git-cleanup/2): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-2.md
Due: prettier

docs(ai-git-cleanup): promote learnings to rules R1-R3
  LEARNINGS.md
Due: prettier

skills: add ai-git-cleanup skill (#734)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-1.md
  .ai-engineering/workflow/reviews/ai-git-cleanup-2.md
  .ai-engineering/workflow/test-plans/ai-git-cleanup.json
  .changeset/ai-git-cleanup.md
  CHANGELOG.md
  LEARNINGS.md
  NOTICE.md
  THIRD-PARTY-NOTICES.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/references/merge-evidence.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  src/assets.ts
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

chore(ai-eng): assets → 2.4.0
  .ai-engineering/ai-eng.lock
  .ai-engineering/config.toml
  .ai-engineering/recap.html
Due: none

chore(ai-git-cleanup-v2): checkpoints, test plan
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v2.json
  .ai-engineering/workflow/test-plans/ai-git-cleanup-v2.json
Due: prettier

test(ai-git-cleanup-v2/1): failing fetchStatus and single-view tests
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
Due: eslint, prettier

test: add command field to WorktreeEntry for U4 single-view assertions
  tests/git-cleanup-analyze.spec.ts
Due: eslint, prettier

feat(ai-git-cleanup-v2/1): single gate and fetchStatus
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/scripts/analyze.mjs
Due: prettier

chore(ai-git-cleanup-v2/1): gates passed (behavior, review)
  .ai-engineering/workflow/checkpoints/ai-git-cleanup-v2.json
  .ai-engineering/workflow/reviews/ai-git-cleanup-v2-1.md
Due: prettier

test(ai-git-cleanup-v2/2): failing postSync and no-push tests
  tests/git-cleanup-analyze.spec.ts
  tests/git-cleanup-cli.spec.ts
  tests/git-cleanup-flow.spec.ts
Due: eslint, prettier

feat(ai-git-cleanup-v2/2): postSync in the approved plan
  .changeset/ai-git-cleanup.md
  CHANGELOG.md
  skills/ai-git-cleanup/SKILL.md
  skills/ai-git-cleanup/scripts/analyze.mjs
  tests/git-cleanup-cli.spec.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
