Repository arcasilesgroup/ai-engineering: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

fix(version): the npm pin had a quoted spec glued to it
  .github/workflows/version.yml
Due: prettier

fix(version): one argument per line in the npm install
  .github/workflows/version.yml
Due: prettier

fix(ci): allow the action the approved gate requires, and say why
  .github/workflows/check.yml
  DECISIONS.md
Due: prettier

chore(spec): close ci-gate — 15/15 gates verified, slot archived to git
  .ai-engineering/ai-eng.lock
  .ai-engineering/plan.html
  .ai-engineering/spec.html
Due: none

chore(ci): the 3-OS e2e runs on main, which is what exists
  .github/workflows/platforms.yml
Due: prettier

ci: one verb instead of two in the check job
  .github/workflows/check.yml
Due: prettier

ci: one deployment with two channels, and 'e2e' for the planted pipeline
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
  DECISIONS.md
  docs/blueprint.html
Due: prettier

ci: no live contract is not the same as a contract that cannot run
  .github/workflows/check.yml
Due: prettier

chore(ci): trivy on the verified path, and dependabot to move the pins
  .github/dependabot.yml
  .github/workflows/check.yml
Due: prettier

fix(ci): the CLI proof no longer hardcodes a version, and releases publish as drafts
  .github/workflows/release.yml
  scripts/proof-cli-ux.sh
Due: prettier

chore(ci): the dependabot config waits a week too
  .github/dependabot.yml
Due: prettier

refactor: install and apply, not plant — and the canon's scripts ship as TypeScript
  .github/workflows/e2e.yml
  AGENTS.md
  DECISIONS.md
  README.md
  SECURITY.md
  docs/blueprint.html
  scripts/.embed/ai-verify/evals/scripts/apply-pack.ts.txt
  scripts/.embed/ai-verify/evals/scripts/score.ts.txt
  scripts/.embed/ai-verify/tiers/2-embedded/feature-verify/scripts/blast_radius.ts.txt
  scripts/gen-assets.ts
  scripts/proof-installed-ci.sh
  skills/ai-agents-md/SKILL.md
  skills/ai-rtk/SKILL.md
  skills/ai-security/references/AI-AND-LLM.md
  skills/ai-verify/SKILL.md
  skills/ai-verify/VERIFICATION-SETUP-GUIDE.md
  skills/ai-verify/evals/README.md
  skills/ai-verify/evals/bug-catalog.md
  skills/ai-verify/evals/fixtures/node-web/package.json
  skills/ai-verify/evals/scripts/apply-pack.ts
  skills/ai-verify/evals/scripts/plant.py
  skills/ai-verify/evals/scripts/score.py
  skills/ai-verify/evals/scripts/score.ts
  skills/ai-verify/tiers/2-embedded/feature-verify/SKILL.md
  skills/ai-verify/tiers/2-embedded/feature-verify/references/harness.md
  skills/ai-verify/tiers/2-embedded/feature-verify/scripts/blast_radius.py
  skills/ai-verify/tiers/2-embedded/feature-verify/scripts/blast_radius.ts
  skills/ai-write/SKILL.md
  src/assets.ts
  src/commands/doctor.ts
  src/commands/update.ts
  src/embed.ts
  tests/adversarial/init-recovery.test.ts
  tests/generated-payload.test.ts
  tests/installed-ci.spec.ts
Due: eslint, prettier

docs: the blueprint names the scripts that exist
  docs/blueprint.html
Due: none

docs: the last of the vocabulary, in the eval docs
  skills/ai-verify/SKILL.md
  skills/ai-verify/VERIFICATION-SETUP-GUIDE.md
  skills/ai-verify/evals/bug-catalog.md
  skills/ai-verify/tiers/2-embedded/second-opinion/SKILL.md
Due: prettier

docs: research 003 — what promoting cursor, codex and copilot to core would take
  .ai-engineering/research/003-core-promotion-cursor-codex-copilot.html
Due: none

docs(research): hooks on the machine instead of in every repo
  .ai-engineering/research/004-hooks-global-vs-project.html
Due: none

docs(spec): approve the global-carriers contract
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
  .ai-engineering/plan.html
  .ai-engineering/spec.html
  .wayfinder/global-carriers/MAP.md
Due: prettier

feat(skills): ai-goal discovers the contract instead of being briefed
  .changeset/ai-goal-finds-the-contract.md
  skills/ai-goal/SKILL.md
  src/assets.ts
Due: eslint, prettier

fix(skills): the plan and goal working file is the slot, not a wayfinder map
  .ai-engineering/brainstorm.md
  .changeset/ai-goal-finds-the-contract.md
  .wayfinder/global-carriers/MAP.md
  skills/ai-goal/SKILL.md
  skills/ai-plan/SKILL.md
Due: prettier

refactor(chain): the gate is one question, and the carrier lives where the host reads it
  .ai-engineering/plan.html
  .ai-engineering/security/run-2/REPORT.md
  .ai-engineering/security/run-2/findings.json
  .ai-engineering/spec.html
  .gitignore
  skills/.chain-bundle/ai-eng-chain.ts
  src/chain/mod.ts
  src/commands/config.ts
  src/commands/doctor.ts
  src/commands/init.ts
  src/floor/template.ts
  src/guards/loop.ts
  src/install.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  tests/adversarial/carrier-merge.test.ts
  tests/adversarial/governance-gate.test.ts
Due: eslint, prettier

docs(recap): the milestone's closing report
  .ai-engineering/recap.html
Due: none

docs(plan): the verification verdicts, and the one gate whose check cannot fail
  .ai-engineering/plan.html
  .ai-engineering/security/run-2/REPORT.md
Due: prettier

feat(skills): ai-goal ends with the closing chain, not at the last green gate
  skills/ai-goal/SKILL.md
Due: prettier

docs(recap): say why 'proof, not existence', with the case that named it
  .ai-engineering/recap.html
Due: none

fix(surfaces): the picker stops promising what the measurements contradict
  src/commands/doctor.ts
  src/commands/init.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  tests/surfaces.test.ts
Due: eslint, prettier

test(surfaces): the row's caveat is asserted by its source, not by a phrase
  tests/surfaces.test.ts
Due: eslint, prettier

fix(surfaces): Zed denies through its own permissions — the row said it cannot deny at all
  .ai-engineering/recap.html
  docs/global-carriers.md
  src/commands/init.ts
  src/surfaces/adapters.ts
  src/surfaces/surfaces.json
  tests/surfaces.test.ts
Due: eslint, prettier

fix(proof): a gate whose check prints nothing is not a gate
  .ai-engineering/spec.html
  skills/ai-proof/SKILL.md
  skills/ai-proof/scripts/gate-check.mjs
  templates/spec.html.tpl
  tests/gate-check.spec.ts
Due: eslint, prettier

chore(spec): the contract's own ledger records the three gates that said nothing
  .ai-engineering/spec.html
Due: none

chore(changeset): the three user-visible changes this work ships
  .changeset/a-gate-that-says-nothing-is-not-a-gate.md
  .changeset/carriers-move-to-where-the-host-reads.md
  .changeset/the-picker-stops-promising-what-the-fields-contradict.md
Due: prettier

fix(floor): the git setting this writes is the one thing a sandbox did not cover
  src/floor/template.ts
  tests/adversarial/carrier-merge.test.ts
  tests/adversarial/isolation.test.ts
Due: eslint, prettier

docs(changeset): the isolation the floor owes a sandboxed install
  .changeset/carriers-move-to-where-the-host-reads.md
Due: prettier

fix(proof): the three gates that said nothing now prove what they promise
  .ai-engineering/ai-eng.lock
  .ai-engineering/spec.html
  scripts/proof-security-audit.sh
Due: none

docs(brainstorm): the round-2 queue, and A.1 closed
  .ai-engineering/brainstorm.md
Due: prettier

fix(ci): the two checks that only ever saw one machine
  .github/workflows/platforms.yml
  tests/adversarial/init-recovery.test.ts
Due: eslint, prettier

chore(spec): close global-carriers — 20/20 gates verified, slot archived to git
  .ai-engineering/ai-eng.lock
  .ai-engineering/brainstorm.md
  .ai-engineering/plan.html
  .ai-engineering/recap.html
  .ai-engineering/spec.html
  scripts/proof-security-audit.sh
Due: prettier

fix(update): the machine half of an update runs even when the repo needs nothing
  .changeset/update-reaches-the-machine-side.md
  src/commands/update.ts
  tests/adversarial/carrier-merge.test.ts
Due: eslint, prettier

fix(ci): the workflow init installs knows the state between milestones
  .changeset/the-ci-template-knows-between-milestones.md
  .github/workflows/ai-eng-check.yml
  templates/ci.yml.tpl
Due: prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
